:root {
	/* LIGHT MODE */
	--menu-burger-bg: #0d0a0a;
	--menu-link: #fff;
}

.dark {
	--menu-burger-bg: #fff;
	--menu-link: #231B19;

	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

/*MEDIA*/
@media (max-height: 900px) {
	.digital-fullscreen {
		padding: 200px 0px 0px 0px;
		min-height: 100vh;
	}
}

@media (max-width: 1700px) {
	.digital {
		&__scroll {
			left: 29%;
		}
	}

	.connection {
		&__form-input {
			width: 120%;
		}
	}
}

@media (max-width: 1550px) {
	.connection {
		&__form-input {
			width: 100%;
		}
	}

	.footer {

		&__logo img {
			max-width: 345px;
			max-height: 85px;
		}

		&__social {

			&:nth-child(3) {
				margin: 0px 0px 0px 0px;
			}

			&:nth-child(4) {
				margin: 0px 0px 0px 50px;
			}
		}

		&__privacy-link {
			font-size: 16px;

			&:not(:last-child) {
				margin: 0px 15px 0px 0px;
			}
		}
	}
}

@media (max-width: 1360px) {
	.digital {
		padding: 140px 0px 100px 0px;

		&__button {
			margin: 48px 48px 0px 40px;
		}
	}

	.services {
		padding: 104px 0px 80px 0px;

		&__media {
			margin: 0px 42px 0px 0px;
		}

		&__button {
			margin: 15px 0px 0px 0px;
		}
	}

	.name-services {
		margin: 60px 0px 0px 0px;

		&__items {
			grid-template: repeat(2, 1fr);
			gap: 40px;
		}

		&__item {
			grid-column: 2 span;
		}

		&__subtitle {
			margin: 20px 0px 75px 0px;
		}
	}

	.connection {
		&__title {
			margin: 0px 15px 20px 0px;
		}

		&__form {
			margin: 20px 0px 0px 0px;
		}

		&__form-line {
			margin: 0px 0px 15px 0px;
		}

		&__form-input {
			padding: 10px 0;
			width: 90%;
		}
	}
}

@media (max-width: 1150px) {
	.digital {

		&__button {
			margin: 48px 0px 0px 0px;
		}

		&__title {
			font-size: 75px;
		}
	}

	.connection {

		&__form-input {
			width: 90%;
		}
	}
}

/*PC*/
@media (max-width: 1087px) {
	.digital {
		&__title {
			font-size: 68px;
		}

		&__subtitle {
			font-size: 21px;
		}
	}

	.footer {
		&__social {
			&:not(:last-child) {
				margin: 0px 20px 0px 0px;
			}

			&:nth-child(3) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

/* ===================== */

/*TABLET*/
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 850px;
	}

	.header {
		&__logo img {
			width: 44px;
		}

		&__logo svg {
			width: 108px;
		}
	}

	.menu {
		font-size: 24px;

		&__list li:not(:last-child) {
			margin: 0px 25px 0px 0px;
		}

		&__link {
			font-size: 22px;
		}

		&__change {
			font-size: 22px;
			margin: 0px 20px 0px 0px;
		}
	}

	.digital {
		padding: 200px 0px 112px 0px;

		&__container::after {
			height: 100%;
		}

		&__title {
			font-size: 56px;
		}

		&__subtitle {
			font-size: 20px;
			margin: 0px 30px 0px 0px;
		}

		&__scroll {
			display: none;
		}
	}

	.button {
		font-size: 22px;
		width: 180px;
		height: 180px;
	}

	.works {
		padding: 104px 0px 0px 0px;

		&__gallery {
			margin: 60px 0px 0px 0px;
		}

		&__wrapper {
			flex-direction: column;
		}

		&__items {
			&:first-child {
				flex: 0 1 100%;
				margin: 0px 0px 0px 0px;
			}

			&:last-child {
				flex: 0 1 100%;
			}
		}

		&__button {
			margin: -80px 80px 0px auto;
		}
	}

	.item-left {
		display: flex;
		flex-direction: column;
	}

	.item-right {
		display: flex;
	}

	.card-works {
		margin: 0px 0px 40px 0px;

		&__wrapper:first-child {
			margin: 0px 20px 0px 0px;
		}

		&__title {
			margin: 25px 0px 0px 0px;
		}
	}

	.card-photo-horizontal {
		order: 1;
	}

	.card-works-horizontal-half {
		max-width: none;
		order: 3;

		& img {
			width: 100%;
		}
	}

	.card-works-verticals-left {
		order: 2;
	}

	.card-works-verticals-right {

		&:first-child {
			margin: 0px 0px 0px 20px;
			order: 2;
		}

		&:last-child {
			order: 1;
		}
	}

	.about {
		padding: 104px 0px 0px 0px;

		&__media {
			margin: 0px 0px 0px 0px;
		}

		&__button {
			margin: 40px 0px 0px 0px;
		}
	}

	.people-about {
		margin: 46px 0px 0px 0px;

		&__item {

			&:not(:last-child) {
				margin: 0px 2% 0px 0px;
			}

			&:nth-child(2) {
				margin: 66px 2% 0px 0px;
			}

			&:last-child {
				margin: 6px 0px 0px 0px;
			}
		}

		&__post {
			margin: 10px 0px 0px 0px;
		}
	}

	.feedbacks__slider-pc {
		display: none;
	}

	.feedbacks__slide-tablet {
		display: block;
	}

	.feedbacks {
		padding: 104px 0px 0px 0px;

		&__slider {
			padding: 176px 0px 0px 0px;
		}

		&__content {
			padding: 0px 0px 0px 0px;
			position: relative;
		}

		&__buttons {
			top: 14%;
		}
	}

	.item-big,
	.item-medium,
	.item-small {
		max-width: none;
	}

	.connection {
		padding: 104px 0px 80px 0px;

		&__media {
			display: none;
		}

		&__content {
			flex: 0 1 100%;
			margin: 0px 0px 0px 0px;
		}

		&__subtitle {
			max-width: 490px;
		}

		&__form {
			margin: 40px 0px 0px 0px;
			flex-direction: row-reverse;
			justify-content: space-around;
		}

		&__form-wrapper {
			margin: 0px 0px 0px 40px;
		}

		&__form-line {
			margin: 0px 0px 40px 0px;
		}

		&__form-input {
			padding: 15px 0;
			width: 100%;
		}
	}

	.footer {
		padding: 90px 0px;

		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			margin: 20px 0px 0px 0px;
			text-align: center;
			align-items: center;
		}

		&__social:last-child {
			display: none;
		}

		&__social-tablet {
			display: block;
			margin: 10px 0px 0px 0px;
		}

		&__privacy {
			margin: 30px 0px 0px 0px;
		}
	}

	.portfolio {
		padding: 30px 0px 20px 0px;

		&__items:first-child {
			margin: 0px 0px 0px 0px;
		}

		&__wrapper {
			display: flex;

			& .portfolio__card:first-child {
				margin: 0px 60px 0px 0px;
			}
		}
	}

	.tabs-portfolio {

		&__link:nth-child(2n) {
			margin: 50px 0px 0px 40px;
		}

		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
	}

	.tablet-none a {
		max-height: 560px;
		overflow: hidden;

		& img {
			width: 100vw;
		}
	}

	.card-portfolio-horizontal-half {
		max-width: none;
		margin: 0px 0px 60px 0px;

		& a img {
			width: 100%;
		}
	}
}

/* ===================== */

@media (max-width: 840px) {
	.digital {

		&__title {
			font-size: 52px;
		}
	}
}

/*MOBILE*/
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}

	.menu {
		flex-direction: row-reverse;
		justify-content: flex-start;

		&__icon {
			margin: 0px 0px 0px 44px;

			display: block;
			position: relative;
			width: 37px;
			height: 14px;
			z-index: 5;

			cursor: pointer;

			&._active {
				height: 5px;
			}

			& span,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				background: #bf021f;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
				transition: all 0.3s ease 0s;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
			}

			& span {
				width: 24px;
				right: 0;
			}

			&._active span {
				width: 37px;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
			}

			&::before {
				bottom: 0;
			}

			&._active::before {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
			}
		}

		&__body {
			padding: 180px 20px 0px 0px;
			position: fixed;
			top: 0;
			right: -100%;
			width: 320px;
			height: 100%;
			overflow: auto;
			background: var(--menu-burger-bg);

			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;

			&._active {
				right: 0;

				transition: all 0.3s ease 0s;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
			}
		}

		&__list {
			flex-direction: column;
			text-align: right;

			& li:not(:last-child) {
				margin: 0px 0px 45px 0px;
			}
		}

		&__link {
			font-weight: 700;
			font-size: 32px;
			color: var(--menu-link);
		}

		&__link-mobile {
			display: block;
		}

		&__footer._active {
			display: flex;

			& .menu__change {
				color: var(--menu-link);
				position: relative;
				z-index: 10;
			}

			& .menu__dark-mode {
				position: relative;
				z-index: 10;

				transition: color .3s ease 0s;
				-webkit-transition: color .3s ease 0s;
				-moz-transition: color .3s ease 0s;
				-ms-transition: color .3s ease 0s;
				-o-transition: color .3s ease 0s;

				& svg path {
					fill: var(--menu-link);
				}
			}
		}
	}

	.digital {
		padding: 200px 0px 80px 0px;

		&__container::after {
			height: 60%;
		}

		&__wrapper {
			flex-direction: column-reverse;
			align-items: inherit;
		}

		&__title {
			font-size: calc(28px + (28 + 28 * 0.7) * ((100vw - 320px) / 1680));
		}

		&__subtitle {
			margin: 0px 30px 0px 0px;
			font-size: 20px;
		}

		&__button {
			position: relative;
			z-index: 100;
			margin: 80px 100px 0px auto;
		}
	}

	.subtitle-max {
		max-width: 680px;
	}

	.section-header {
		width: 100%;
	}

	.works {

		&__gallery {
			margin: 40px 0px 0px 0px;
		}

		&__button {
			margin: -70px 30px 0px auto;
		}
	}

	.card-works {
		&__title {
			margin: 20px 0px 0px 0px;
		}
	}

	.services {
		padding: 74px 0px 50px 0px;

		&__container {
			flex-direction: column-reverse;
		}

		&__media {
			margin: 0px 0px 0px 0px;
		}

		&__button {
			margin: 50px 0px 0px auto;
		}

	}

	.name-services {
		margin: 60px 0px 0px 0px;

		&__items {
			gap: 30px;
		}

		&__item {
			padding: 30px 20px 40px 20px;
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}
	}

	.about {
		padding: 80px 0px 0px 0px;

		&__container {
			flex-direction: column-reverse;
		}

		&__button {
			margin: 56px 6% 0px auto;
		}
	}

	.feedbacks__slide-tablet {
		display: none;
	}

	.feedbacks__slide-mobile {
		display: block;
	}

	.feedbacks {
		padding: 144px 0px 0px 0px;

		&__slider {
			padding: 136px 0px 0px 0px;
		}

		&__buttons {
			top: 15%;
		}

		&__item {
			padding: 40px 20px 60px 20px;
		}
	}

	.item-feedbacks {
		&__quote {
			left: 0%;
		}
	}

	.feedbacks-button-next svg {
		width: 60px;
	}

	.feedbacks-button-prev svg {
		width: 60px;
	}

	.connection {
		padding: 74px 0px 50px 0px;

		&__form-input {
			width: 90%;
		}
	}

	.footer {
		padding: 70px 0px;

		&__logo img {
			max-width: 300px;
		}
	}

	.portfolio {
		padding: 30px 0px 15px 0px;
	}

	.tabs-portfolio {
		&__nav {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__link {
			font-size: 22px;
		}

		&__link:not(:last-child) {
			margin: 40px 0px 0px 0px;
		}

		&__link:nth-child(2n) {
			margin: 40px 0px 0px 0px;
		}

		&__content {
			margin: 60px 0px 0px 0px;
		}

	}
}

/* ===================== */

@media(max-width: 650px) {
	.digital {
		&__button {
			margin: 80px 40px 0px auto;
		}
	}

	.connection {
		&__title {
			margin: 0px 15px 20px 0px;
		}

		&__form {
			flex-direction: column;
		}

		&__form-wrapper {
			margin: 0px 0px 0px 0px;
		}

		&__form-input {
			width: 100%;
		}

		&__button {
			margin: 0px 0px 0px auto;
		}

		&__privacy {
			margin: 0px 0px 50px 0px;
		}
	}

	.portfolio {
		&__wrapper {
			flex-direction: column;

			& .portfolio__card:first-child {
				margin: 0px 0px 35px 0px;
			}
		}

		&__card {
			margin: 0px 0px 35px 0px;
		}

		&__card:first-child {
			margin: 0px 0px 35px 0px;
		}
	}

	.card-portfolio {

		&__wrapper {
			margin: 0px 0px 0px 0px;

			&:first-child {
				margin: 0px 0px 35px 0px;
			}
		}

		&__title {
			margin: 20px 0px 0px 15px;
		}

		&__photo img {
			max-width: none;
			width: 100vw;
		}
	}

	.card-portfolio-horizontal-half a img {
		width: 100vw;
	}

	.card-portfolio-verticals-left {
		flex-direction: column;
	}

	.tablet-none a img {
		width: 100vw;
	}
}

/*MOBILE SMALL*/
@media (max-width: 479.98px) {

	.digital {
		padding: 180px 0px 50px 0px;

		&__title {
			margin: 0px 20px 20px 0px;
		}

		&__subtitle {
			margin: 0px 20px 0px 0px;
		}

		&__button {
			margin: 50px 15px 0px auto;
		}
	}

	.header {
		&__logo svg {
			margin: 0px 0px 0px 5px;
		}
	}

	.menu {

		&__body {
			width: 256px;
		}

		&__link {
			font-size: 32px;
		}

		&__footer {
			display: none;
		}
	}

	.works {
		padding: 78px 0px 0px 0px;

		&__gallery {
			margin: 40px 0px 0px 0px;
		}

		&__button {
			margin: 50px 0px 0px auto;
		}
	}

	.card-works {
		margin: 0px 0px 30px 0px;

		&__photo {
			& img {
				max-width: none;
				;
				width: 100vw;
				margin-left: calc(50% - 50vw);
			}
		}
	}

	.card-works-verticals-left {
		flex-direction: column;
	}

	.card-works__wrapper:first-child {
		margin: 0px 0px 20px 0px;
	}

	.item-right {
		flex-direction: column;
	}

	.card-works-verticals-right:first-child {
		margin: 0px 0px 30px 0px;
	}

	.title {
		margin: 0px 0px 30px 0px;
	}

	.name-services {
		margin: 40px 0px 0px 0px;

		&__items {
			gap: 20px;
		}

		&__item {
			padding: 30px 20px 30px 20px;
		}

		&__subtitle {
			margin: 10px 0px 20px 0px;
		}

		&__footer {
			width: 100%;
			position: static;
			flex-direction: column;
			align-items: flex-start;
		}

		&__wrapper {
			margin: 25px 0px 0px auto;
		}
	}

	.about {
		padding: 50px 0px 0px 0px;

		&__button {
			margin: 50px 0px 0px auto;
		}
	}

	.people-about {
		margin: 40px 0px 0px 0px;

		&__items {
			flex-direction: column;
		}

		&__item {

			& img {
				max-width: none;
				width: 100vw;
				margin-left: calc(50% - 50vw);
			}

			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}

			&:nth-child(2) {
				margin: 0px 0px 20px 0px;
			}

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	.feedbacks {
		padding: 74px 0px 0px 0px;

		&__content {
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}

		&__item {
			padding: 30px 15px 30px 15px;
			min-height: 100%;
		}
	}

	.item-feedbacks {

		&__quote {
			display: none;
		}
	}

	.footer {
		&__logo img {
			max-width: 250px;
		}

		&__content {
			margin: 15px 0px 0px 0px;
		}

		&__socials {
			display: flex;
			flex-direction: column;
		}

		&__social {
			margin: 0px 0px 0px 0px;

			&:not(:last-child) {
				margin: 0px 0px 5px 0px;
			}

			&:nth-child(3) {
				margin: 0px 0px 0px 0px;
			}

			&:nth-child(4) {
				margin: 0px 0px 0px 0px;
			}
		}

		&__privacy {
			display: flex;
			flex-direction: column;
		}

		&__privacy-link:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
	}
}

/* ===================== */

@media (max-width: 340px) {
	.menu {
		&__icon {
			margin: 0px 0px 0px 25px;
		}
	}

	.digital {
		padding: 150px 0px 50px 0px;
	}

	.title {
		margin: 0px 0px 20px 0px;
	}
}