@import "_null.scss";

$maxWidth: 1680;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

:root {
	/* LIGHT MODE */
	--page-text: #231B19;
	--logo-text: #110C0D;
	--price-text: #BF021F;
	--page-bg: #fff;
	--page-gray: #EBEBEB;
	--footer-bg: #0D0A0A;
	--menu-bg: #0d0a0a;
	--services-item: #fff;
	--feedbacks-item: #F7F7F7;
	--feedbacks-item-shadow: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
	--qoute-fill: #E4E4E4;
	--form: rgba(35, 27, 25, 0.6);
}

.dark {
	/*DARKMODE*/
	--page-text: #FFFCFC;
	--logo-text: #FFFCFC;
	--price-text: #CA001E;
	--page-bg: #0C0A0A;
	--page-gray: #1C212D;
	--footer-bg: #1C212D;
	--menu-bg: #fff;
	--services-item: #171A21;
	--feedbacks-item: #171A21;
	--feedbacks-item-shadow: drop-shadow(0px 15px 20px rgba(63, 67, 76, 0.2));
	--qoute-fill: #52555B;
	--form: rgba(255, 252, 252, 0.6);

	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

body {
	font-family: "Exo 2";
	background: var(--page-bg);

	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1710px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	&._fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 500;
		background: var(--page-bg);
		transition: all 1s ease 0s;
		animation-name: show-header;
		animation-duration: 1s;

		&>.header__container {
			min-height: 100px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 170px;
	}

	&__logo {
		display: block;
	}

	&__wrapper {
		flex: 0 1 28%;
		display: flex;
		align-items: center;

		& img {
			width: 63px;
		}

		& svg {
			margin: 0px 0px 0px 12px;
		}

		& svg path {
			fill: var(--logo-text);
		}
	}
}

@keyframes show-header {
	0% {
		opacity: 0;
		top: -70px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

/* ===================== */
/* HEADER MENU */
.menu {
	flex: 0 1 72%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__icon {
		display: none;
	}

	&__list {
		display: flex;

		& li:not(:last-child) {
			margin: 0px 40px 0px 0px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 121%;
		color: var(--page-text);
	}

	&__link-mobile {
		display: none;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__change {
		margin: 0px 25px 0px 0px;
		font-size: 20px;
		color: var(--page-text);

		transition: color .3s ease 0s;
		-webkit-transition: color .3s ease 0s;
		-moz-transition: color .3s ease 0s;
		-ms-transition: color .3s ease 0s;
		-o-transition: color .3s ease 0s;
	}

	&__dark-mode {

		& svg path {
			fill: var(--page-text);

			transition: fill .3s ease 0s;
			-webkit-transition: fill .3s ease 0s;
			-moz-transition: fill .3s ease 0s;
			-ms-transition: fill .3s ease 0s;
			-o-transition: fill .3s ease 0s;
		}
	}
}

/* ===================== */

/* DIGITAL */
.digital {
	padding: 184px 0px 200px 0px;
	position: relative;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0px;
			right: 15px;
			width: 4px;
			height: 100%;
			background: #BF021F;
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__media {
		flex: 0 1 28%;
	}

	&__button {
		margin: 48px 48px 0px 90px;
	}

	&__content {
		flex: 0 1 72%;
	}

	&__title {
		margin: 0px 0px 40px 0px;
		font-weight: 600;
		font-size: 80px;
		line-height: 120%;
		color: var(--page-text);
	}

	&__subtitle {
		margin: 0px 30px 0px 0px;
		max-width: 800px;
		font-size: 22px;
		line-height: 150%;
		color: var(--page-text);
	}

	&__scroll {
		position: absolute;
		left: 50%;
		bottom: 4%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);

		& svg path,
		& svg rect {
			fill: var(--page-text);
		}
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 230px;
	height: 230px;
	font-weight: 500;
	font-size: 22px;
	line-height: 118.181818%;
	/* 26/22 */
	color: #FFFFFF;
	background: #BF021F;
	border-radius: 50%;
}

.subtitle-max {
	max-width: 680px;
}

/* ===================== */

/*WORKS*/

.section-header {
	margin: 0px 0px 0px auto;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		width: 4px;
		height: 100%;
		background: #BF021F;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
	}
}

.title {
	margin: 0px 0px 40px 0px;
	font-weight: 700;
	@include adaptiv-font(48, 32);
	line-height: 120%;
	color: var(--page-text);
}

.subtitle {
	margin: 0px 30px 0px 0px;
	@include adaptiv-font(22, 20);
	line-height: 140%;
	color: var(--page-text);
	max-width: 650px;
}

.works {
	background: var(--page-gray);
	padding: 144px 0px 0px 0px;

	&__container {}

	&__header {
		width: 72%;
	}

	&__title {}

	&__subtitle {}

	&__gallery {
		margin: 80px 0px 0px 0px;
		position: relative;
	}

	&__wrapper {
		display: flex;
	}

	&__items {
		&:first-child {
			flex: 0 1 64%;
			margin: 0px 60px 0px 0px;
		}

		&:last-child {
			flex: 0 1 36%;
			display: flex;
			flex-direction: column;
		}
	}

	&__item {}

	&__card {}

	&__button {
		margin: 60px auto 0px;
	}
}

.card-works {
	margin: 0px 0px 60px 0px;

	&__photo {
		display: block;

		& img {
			max-width: 100%;
		}
	}

	&__title {
		display: block;
		margin: 20px 0px 0px 0px;
		max-width: 640px;
		font-weight: 500;
		@include adaptiv-font(24, 20);
		line-height: 120%;
		color: var(--page-text);
	}

	&__wrapper {
		&:first-child {
			margin: 0px 60px 0px 0px;
		}
	}
}

.card-photo-horizontal {}

.card-works-horizontal-half {
	max-width: 750px;
	margin: 0px 0px 60px auto;
}

.card-works-verticals-left {
	display: flex;
}

.card-works-verticals-right {}

/* ===================== */

/*SERVICES*/
.services {
	padding: 144px 0px 120px 0px;
	background: var(--page-gray);

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__media {
		margin: 0px 90px 0px 0px;
		flex: 0 1 28%;
	}

	&__button {
		margin: 50px 0px 0px 90px;
	}

	&__content {
		flex: 0 1 72%;
	}

	&__header {}

	&__title {}

	&__subtitle {}

	&__name {}
}

.name-services {
	margin: 80px 0px 0px 0px;

	&__content {}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
	}

	&__item {
		padding: 40px 30px;
		background: var(--services-item);
		border-radius: 8px;
		position: relative;

		&:last-child {
			grid-column: 2 span;
		}

		& .name-services__subtitle {
			max-width: 840px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: var(--page-text);
	}

	&__subtitle {
		margin: 20px 0px 115px 0px;
		font-size: 20px;
		line-height: 140%;
		color: var(--page-text);
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		position: absolute;
		width: calc(100% - 60px);
		left: 30px;
		bottom: 50px;
	}

	&__price {
		font-weight: 600;
		@include adaptiv-font(32, 24);
		line-height: 120%;
		color: var(--price-text);
	}

	&__wrapper {
		display: flex;
		align-items: center;

		& svg {
			margin: 0px 0px 0px 10px;
		}

		& svg path,
		& svg rect {
			fill: var(--price-text);
		}
	}

	&__more {
		font-weight: 500;
		font-size: 20px;
		line-height: 140%;
		color: var(--page-text);
	}
}

/* ===================== */

/*ABOUT*/
.about {
	padding: 144px 0px 144px 0px;
	background: var(--page-bg);

	&__container {
		display: flex;
		justify-content: space-between
	}

	&__media {
		margin: 0px 90px 0px 0px;
		flex: 0 1 28%;
	}

	&__button {
		margin: 240px 0px 0px 97px;
	}

	&__content {
		flex: 0 1 72%;
	}

	&__header {}

	&__title {}

	&__subtitle {}

	&__people {}
}

.button-about-position {
	margin: 54px 0px 0px 0px;
}

.section-bg {
	background: var(--page-gray);
}

.people-about {
	margin: 80px 0px 0px 0px;

	&__items {
		display: flex;
		justify-content: space-between
	}

	&__item {
		display: block;

		& img {
			max-width: 100%;
		}

		&:not(:last-child) {
			margin: 0px 3% 0px 0px;
		}

		&:nth-child(2) {
			margin: 107px 3% 0px 0px;
		}

		&:last-child {
			margin: 25px 0px 0px 0px;
		}
	}

	&__wrapper {}

	&__post {
		margin: 20px 0px 5px 0px;
		font-weight: 600;
		@include adaptiv-font(24, 22);
		line-height: 118%;
		color: var(--page-text);
	}

	&__name {
		font-size: 20px;
		line-height: 140%;
		color: var(--page-text);
	}
}

/* ===================== */

/*FEEDBACKS*/
.feedbacks {

	&__container {}

	&__header {
		width: 72%;
	}

	&__title {}

	&__subtitle {}

	&__content {
		padding: 80px 0px 0px 0px;
		position: relative;
	}

	&__slider {}

	&__wrapper {}

	&__slide {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		padding: 40px 80px 60px 40px;
		min-height: 250px;

		background: var(--feedbacks-item);
		border-radius: 8px;

		filter: var(--feedbacks-item-shadow);
		-webkit-filter: var(--feedbacks-item-shadow);

		&:not(:last-child) {
			margin: 0px 0px 60px 0px;
		}
	}

	&__buttons {
		position: absolute;
		top: 15%;
		right: 0px;
		z-index: 10;
	}

	&__buttons-wrapper {
		width: 13%;
		display: flex;
		justify-content: space-between;
	}
}

.feedbacks__slide-tablet {
	display: none;
}

.feedbacks__slide-mobile {
	display: none;
}

.feedbacks-button-next {
	cursor: pointer;
}

.feedbacks-button-prev {
	margin: 0px 20px 0px 0px;
	cursor: pointer;
}

.swiper-button-disabled svg g {
	opacity: .5;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
}

.items-left {
	margin: 0px 60px 0px 0px;
}

.item-feedbacks {

	&__header {
		display: flex;
		align-items: center;
	}

	&__name {
		margin: 0px 0px 0px 10px;
		font-size: 20px;
		line-height: 140%;
		color: #9A9A9A;
	}

	&__body {
		margin: 20px 0px 0px 0px;
		position: relative;
	}

	&__text {
		max-width: 717px;
		font-size: 20px;
		line-height: 140%;
		color: var(--page-text);
	}

	&__quote {
		position: absolute;
		height: 100%;
		top: 0%;
		left: -4%;
		z-index: -1;

		& svg path {
			fill: var(--qoute-fill);
		}
	}
}

.item-big {
	max-width: 837px;
}

.item-medium {
	max-width: 783px;
}

.item-small {
	max-width: 712px
}

.connection {
	padding: 80px 0px 0px 0px;

	&__container {
		display: flex;
		align-items: center
	}

	&__media {
		flex: 0 1 35%;
		margin: 0px 0px 0px -15px;

		& img {
			max-width: 100%;
		}
	}

	&__content {
		margin: 0px 0px 0px 4%;
		flex: 0 1 65%;
	}


	&__header {}

	&__title {
		font-weight: 600;
		@include adaptiv-font(48, 34);
		line-height: 120%;
	}

	&__subtitle {
		max-width: 60%;
	}

	&__form {
		margin: 80px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__form-wrapper {
		display: flex;
		flex-direction: column;

	}

	&__form-line {
		margin: 0px 0px 40px 0px;
		position: relative;
	}

	&__form-input {
		width: 124%;
		padding: 15px 0px;
		font-family: 'Exo 2';
		font-size: 24px;
		line-height: 140%;
		color: var(--form);
		outline: none;
		border-bottom: 2px solid var(--form);
		background: transparent;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}

	&__label {
		position: absolute;
		top: 10%;
		left: 0%;
		font-size: 24px;
		z-index: 100;
		line-height: 140%;
		color: var(--form);

		& span {
			color: #BF021F;
		}
	}

	&__button {
		flex: 0 0 auto;
		width: 280px;
		height: 280px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
	}

	&__privacy {
		margin: 20px 0px 0px 0px;
		display: flex;
		align-items: center;
		color: var(--form);

		& input {
			margin: 0px 15px 0px 0px;

			&[type='checkbox'] {
				display: none;
			}
		}

		& input[type='checkbox']:checked+label::before {
			content: '\2713';
			color: #CA001E;
			text-align: center;
		}

		& label {
			font-size: 20px;
			line-height: 140%;
			color: var(--page-text);

			& a {
				text-decoration: underline;
				color: #CA001E;
			}

			&::before {
				margin: 0px 10px 0px 0px;
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				cursor: pointer;

				border: 2px solid var(--page-text);
			}
		}
	}
}

/* ===================== */

/*FOOTER*/

.footer {
	padding: 140px 0px;
	background: var(--footer-bg);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	&__logo {
		cursor: pointer;
	}

	&__content {
		margin: 0px 0px 0px 100px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}

	&__socials {}

	&__social {
		font-weight: 500;
		font-size: 24px;
		line-height: 160%;
		color: #FFFCFC;

		&:not(:last-child) {
			margin: 0px 30px 0px 0px;
		}

		&:last-child {
			font-weight: 700;
		}
	}

	&__social-tablet {
		display: none;
		font-weight: 700;
		font-size: 28px;
		line-height: 160%;
		color: #FFFCFC;
	}

	&__privacy {
		margin: 50px 0px 0px 0px;
	}

	&__privacy-link {
		font-size: 18px;
		line-height: 120%;
		color: #FFFCFC;

		&:not(:last-child) {
			margin: 0px 40px 0px 0px;
		}
	}
}

/* ===================== */

/*PORTFOLIO*/
.portfolio {
	padding: 70px 0px 60px 0px;
	background: var(--page-gray);

	&__container {}

	&__tabs {}

	&__items {
		&:first-child {
			flex: 0 1 64%;
			margin: 0px 60px 0px 0px;
		}

		&:last-child {
			flex: 0 1 36%;
			display: flex;
			flex-direction: column;
		}
	}

	&__card {}

	&__item {}
}

.tabs-portfolio {

	&__nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__link {
		margin: 50px 0px 0px 0px;
		font-weight: 500;
		font-size: 22px;
		line-height: 120%;
		color: var(--page-text);
		opacity: 0.6;

		&:not(:last-child) {
			margin: 50px 50px 0px 0px;
		}

		&.active {
			color: #BF021F;
			opacity: 1;
		}
	}

	&__content {
		margin: 80px 0px 0px 0px;
	}

	&__block {
		display: none;

		&.active {
			display: block;
		}
	}

	&__wrapper {
		display: flex;
	}
}

.portfolio-item {}

.item-left {}

.card-portfolio {
	margin: 0px 0px 60px 0px;

	&__photo {
		display: block;

		& img {
			max-width: 100%;
		}
	}

	&__title {
		margin: 20px 0px 0px 0px;
		display: block;
		font-weight: 500;
		@include adaptiv-font(24, 20);
		line-height: 120%;
		color: var(--page-text);
	}

	&__wrapper {
		&:first-child {
			margin: 0px 60px 0px 0px;
		}
	}
}

.card-portfolio-horizontal-half {
	max-width: 750px;
	margin: 0px 0px 60px auto;
}

.card-portfolio-verticals-left {
	display: flex;
}

.item-right {}

.card-portfolio-verticals-right {}

/* ===================== */

/*Product*/
.product {
	padding: 120px 0px 120px 0px;

	&__container {
		display: flex;
	}

	&__media {
		flex: 0 1 28%;
	}

	&__content {
		flex: 0 1 72%;
	}

	&__header {
		margin: 0px 0px 120px 0px;
	}

	&__title {
		margin: 0px 0px 100px 0px;
		font-weight: 600;
		@include adaptiv-font(48, 32);
		line-height: 120.833333%;
		color: var(--page-text);
	}

	&__image {
		& img {
			max-width: 100%;
		}
	}

	&__body {}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 60px;
	}

	&__item {
		& img {
			width: 100%;
		}
	}
}

.button-back {
	background: transparent;
	border: 4px solid #BF021F;
	& svg rect,
	& svg path,{
		fill: var(--page-text);
	}
}

@import "_media.scss";