:root {
	--text-color: #231B19;
	--bg-color: #FFFFFF;
	--bg-color-2: #EBEBEB;
	--logo-color: #110C0D;
	--text-menu-burger: #FFFCFC;
	--bg-menu-burger: #0d0a0a;
	--bg-item-services: #FFFFFF;
	--bg-item-feedbacks: #F7F7F7;
	--shadow-item-feedbacks: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
	--form-text-color: rgba(35, 27, 25, 0.6);
	--bg-footer: #0D0A0A;
}

.dark {
	--text-color: #FFFCFC;
	--bg-color: #0D0A0A;
	--bg-color-2: #1C212D;
	--logo-color: #FFFCFC;
	--text-menu-burger: #231B19;
	--bg-menu-burger: #FFFCFC;
	--bg-item-services: #171A21;
	--bg-item-feedbacks: #171A21;
	--shadow-item-feedbacks: drop-shadow(0px 15px 20px rgba(63, 67, 76, 0.2));
	--form-text-color: rgba(255, 252, 252, 0.6);
		--bg-footer: #1C212D;
}