:root {
	--text-color: #231B19;
	--bg-color: #FFFFFF;
	--bg-color-2: #EBEBEB;
	--logo-color: #110C0D;
	--text-menu-burger: #FFFCFC;
	--bg-menu-burger: #0d0a0a;
	--bg-item-services: #FFFFFF;
}

.dark {
	--text-color: #FFFCFC;
	--bg-color: #0D0A0A;
	--bg-color-2: #1C212D;
	--logo-color: #FFFCFC;
	--text-menu-burger: #231B19;
	--bg-menu-burger: #FFFCFC;
	--bg-item-services: #171A21;
}