:root {
	--text-color: #231B19;
	--logo-color: #110C0D;
	--text-menu-burger: #FFFCFC;
	--menu-burger-bg: #0d0a0a;
}

.dark {
	--text-color: #FFFCFC;
	--logo-color: #FFFCFC;
	--text-menu-burger: #231B19;
	--menu-burger-bg: #FFFCFC;
}