.footer {
	padding: 150px 0px 140px 0px;

	background: var(--bg-footer);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: block;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 50px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__social {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: #FFFCFC;

		position: relative;
		transition: all .5s ease;

		&:after {
			position: absolute;
			content: '';
			bottom: -8px;
			left: 0;
			width: 0%;
			height: 2px;
			background: #BF021F;
			transition: width .5s ease;
		}
	}

	&__social-email {
		margin: 0px 0px 0px 20px;

		font-weight: 700;
		font-size: 28px;
	}

	&__social-tablet {
		display: none;
	}

	&__privacy {}
}

.privacy-footer {
	display: flex;
	align-items: center;
	gap: 35px;

	&__link {
		font-size: 18px;
		line-height: 122%;
		color: #FFFCFC;

		position: relative;
		transition: all .5s ease;

		&:after {
			position: absolute;
			content: '';
			bottom: -8px;
			left: 0;
			width: 0%;
			height: 2px;
			background: #BF021F;
			transition: width .5s ease;
		}
	}
}