/*----------Basic Styles---------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Exo 2";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 144px 0px 0px 0px;
}

:root {
  --text-color: #231B19;
  --bg-color: #FFFFFF;
  --bg-color-2: #EBEBEB;
  --logo-color: #110C0D;
  --text-menu-burger: #FFFCFC;
  --bg-menu-burger: #0d0a0a;
  --bg-item-services: #FFFFFF;
  --bg-item-feedbacks: #ededed;
  --bg-item-price-list: #F7F7F7;
  --bg-item-stages-after: rgba(35, 27, 25, 0.3);
  --shadow-item-services: 0 0px 50px rgba(0, 0, 0, 0.2);
  --shadow-item-feedbacks: 0 0px 50px rgba(0, 0, 0, 0.2);
  --form-text-color: rgba(35, 27, 25, 0.6);
  --bg-footer: #0D0A0A;
}

.dark {
  --text-color: #FFFCFC;
  --bg-color: #0D0A0A;
  --bg-color-2: #1C212D;
  --logo-color: #FFFCFC;
  --text-menu-burger: #231B19;
  --bg-menu-burger: #FFFCFC;
  --bg-item-services: #171A21;
  --bg-item-feedbacks: #171A21;
  --bg-item-price-list: #171A21;
  --bg-item-stages-after: rgba(255, 252, 252, 0.3);
  --shadow-item-services: 0 0px 50px rgba(170, 170, 170, 0.2);
  --shadow-item-feedbacks: 0 0px 50px rgba(170, 170, 170, 0.2);
  --form-text-color: rgba(255, 252, 252, 0.6);
  --bg-footer: #1C212D;
}

/*----------Mixins---------- */
/*----------Components---------- */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  font-weight: 600;
  font-size: 22px;
  line-height: 118%;
  color: #FFFFFF;
  text-align: center;
  background: #BF021F;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.button-border {
  color: var(--text-color);
  background: transparent;
  border: 4px solid #BF021F;
}
.button-border svg path, .button-border svg rect {
  fill: var(--text-color);
}

.section-header {
  margin: 0px 0px 0px auto;
  position: relative;
}
.section-header::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}

.title {
  font-weight: 600;
  font-size: calc(32px + 16 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}

.subtitle {
  margin: 40px 30px 0px 0px;
  max-width: 550px;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1360));
  line-height: 150%;
  color: var(--text-color);
}

.footer {
  padding: 150px 0px 140px 0px;
  background: var(--bg-footer);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  display: block;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__social {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #FFFCFC;
  position: relative;
  transition: all 0.5s ease;
}
.footer__social:after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #BF021F;
  transition: width 0.5s ease;
}
.footer__social-email {
  margin: 0px 0px 0px 20px;
  font-weight: 700;
  font-size: 28px;
}
.footer__social-tablet {
  display: none;
}
.privacy-footer {
  display: flex;
  align-items: center;
  gap: 35px;
}
.privacy-footer__link {
  font-size: 18px;
  line-height: 122%;
  color: #FFFCFC;
  position: relative;
  transition: all 0.5s ease;
}
.privacy-footer__link:after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #BF021F;
  transition: width 0.5s ease;
}

/*----------Pages---------- */
/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header._fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--bg-color);
  animation-name: show_header;
  animation-duration: 1s;
}
.header._fixed .header__container {
  min-height: 100px;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 140px;
}
.header__logo {
  flex: 0 1 28%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-text svg path {
  fill: var(--logo-color);
}
.menu {
  flex: 0 1 72%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
  gap: 40px;
}
.menu__link {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
  position: relative;
  transition: color 0.5s ease;
}
.menu__link:after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #BF021F;
  transition: width 0.5s ease;
}
.menu__link._active {
  position: relative;
  color: #BF021F;
}
.menu__link._active:after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #BF021F;
}
.menu__link-none {
  display: none;
}
.menu__actions {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
.menu__language {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.menu__dark-mode svg path {
  font-size: 20px;
  line-height: 140%;
  fill: var(--text-color);
}

/* ===================== */
/* Hero */
.hero {
  padding: 208px 0px 80px 0px;
  position: relative;
  background: var(--bg-color);
}
.hero__scroll {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4%;
  cursor: pointer;
  animation: scrollDown 2s ease-in-out infinite;
  transform: translateX(-50%);
}
.hero__scroll svg path, .hero__scroll svg rect {
  fill: var(--text-color);
}
.hero__container {
  display: flex;
}
.hero__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.hero__button {
  margin: 40px 0px 0px 0px;
}
.hero__content {
  flex: 0 1 72%;
  position: relative;
}
.hero__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}
.hero__title {
  font-weight: 600;
  font-size: calc(28px + 52 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}
.hero__subtitle {
  margin: 40px 0px 0px 0px;
  max-width: 680px;
  font-size: 22px;
  line-height: 150%;
  color: var(--text-color);
}

/* ===================== */
/* Portfolio */
.portfolio {
  background: var(--bg-color-2);
}
.portfolio__header {
  width: 72%;
}
.portfolio__content {
  margin: 112px 0px 0px 0px;
  display: flex;
  gap: 60px;
}
.portfolio__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.portfolio__group {
  display: flex;
  gap: 60px;
}
.portfolio__button {
  margin: 20px auto 0px auto;
}
.portfolio__button-touch {
  display: none;
}

.item-portfolio {
  display: block;
}
.item-portfolio__image {
  display: block;
  overflow: hidden;
  border-radius: 5.6px;
}
.item-portfolio__image img {
  width: 100%;
  transition: transform 0.5s ease;
}
.item-portfolio__half {
  margin: 0px 0px 0px auto;
  max-width: 750px;
}
.item-portfolio__title {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1360));
  line-height: 140%;
  color: var(--text-color);
}

/* ===================== */
/* Services */
.services {
  background: var(--bg-color-2);
}
.services__container {
  display: flex;
}
.services__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.services__button {
  margin: 45px 0px 0px 0px;
}
.services__content {
  flex: 0 1 72%;
}
.services__items {
  margin: 112px 0px 120px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.item-services {
  display: block;
  padding: 40px 30px 40px 30px;
  background: var(--bg-item-services);
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.item-services:last-child {
  grid-column: 1/3;
}
.item-services__body {
  margin: 0px 0px 80px 0px;
}
.item-services__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-color);
}
.item-services__text {
  margin: 20px 0px 0px 0px;
  max-width: 960px;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.item-services__footer {
  display: flex;
  justify-content: space-between;
}
.item-services__price {
  font-weight: 600;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1360));
  line-height: 118%;
  color: #BF021F;
}
.item-services__more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}

/* ===================== */
/* About */
.about {
  background: var(--bg-color);
}
.about__container {
  display: flex;
}
.about__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.about__button {
  margin: 45px 0px 0px 0px;
}
.about__content {
  flex: 0 1 72%;
}
.about__items {
  margin: 112px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  gap: 4%;
}
.item-about:nth-child(2) {
  margin: 106px 0px 0px 0px;
}
.item-about:nth-child(3) {
  margin: 24px 0px 0px 0px;
}
.item-about__image {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.item-about__image img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.item-about__image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
}
.item-about__socials {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
  opacity: 0;
  transform: translateY(4%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.item-about__social svg path, .item-about__social svg rect {
  transition: fill 0.5s ease;
}
.item-about__social:hover svg path, .item-about__social:hover svg rect {
  fill: #BF021F;
}
.item-about__info {
  margin: 20px 0px 0px 0px;
}
.item-about__title {
  font-weight: 600;
  font-size: calc(22px + 2 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}
.item-about__name {
  margin: 5px 0px 0px 0px;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1360));
  line-height: 140%;
  color: var(--text-color);
}

/* ===================== */
/* Feedbacks */
.feedbacks {
  background: var(--bg-color);
}
.feedbacks__header {
  width: 72%;
}
.feedbacks__content {
  margin: 80px 0px 0px 0px;
}
.feedbacks__slider {
  position: relative;
}
.feedbacks__slider-tablet {
  display: none;
}
.feedbacks__slider-mobile {
  display: none;
}
.feedbacks__items {
  display: grid;
  grid-template-areas: "item1 item3" "item2 item3";
  row-gap: 100px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  align-items: center;
}
.item-feedbacks {
  padding: 50px 80px 60px 40px;
  background: var(--bg-item-feedbacks);
  border-radius: 8px;
}
.item-feedbacks:nth-child(1) {
  grid-area: item1;
}
.item-feedbacks:nth-child(2) {
  grid-area: item2;
}
.item-feedbacks:nth-child(3) {
  grid-area: item3;
}
.item-feedbacks__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item-feedbacks__author {
  font-size: 20px;
  line-height: 140%;
  color: #9A9A9A;
}
.item-feedbacks__body {
  margin: 20px 0px 0px 0px;
}
.item-feedbacks__text {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}

.buttons-feedbacks {
  position: absolute;
  top: 110px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons-feedbacks__prev {
  cursor: pointer;
}
.buttons-feedbacks__next {
  cursor: pointer;
}

.swiper-button-disabled svg rect,
.swiper-button-disabled svg path {
  opacity: 0.5;
}

/* ===================== */
/* Contact */
.contact {
  background: var(--bg-color);
}
.contact__container {
  display: flex;
  align-items: center;
  gap: 5%;
}
.contact__media {
  flex: 0 1 35%;
}
.contact__content {
  flex: 0 1 65%;
}
.contact__header {
  position: relative;
}
.contact__header::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}
.contact__title {
  font-weight: 600;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1360));
  line-height: 118%;
  color: var(--text-color);
}
.contact__subtitle {
  margin: 40px 30px 0px 0px;
  max-width: 460px;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1360));
  line-height: 150%;
  color: var(--text-color);
}
.contact__form {
  margin: 112px 0px 0px 0px;
}

.form-contact {
  display: flex;
  align-items: center;
}
.form-contact__wrapper {
  flex: 0 1 55%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form-contact__line {
  position: relative;
}
.form-contact__input {
  padding: 15px 0px;
  width: 100%;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 140%;
  color: var(--form-text-color);
  border-bottom: 2px solid var(--form-text-color);
  border-radius: 0;
  background: transparent;
  outline: none;
}
.form-contact__label {
  font-family: "Rubik";
  font-size: 20px;
  line-height: 140%;
  color: var(--form-text-color);
  position: absolute;
  top: 0;
  left: 0;
}
.form-contact__label span {
  color: #BF021F;
}
.form-contact__privacy {
  margin: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.form-contact__privacy label {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
  cursor: pointer;
}
.form-contact__privacy label a {
  text-decoration: underline;
  color: #CA001E;
}
.form-contact__privacy label::before {
  margin: 0px 10px 0px 0px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid var(--text-color);
}
.form-contact__privacy input[type=checkbox] {
  display: none;
}
.form-contact__privacy input[type=checkbox]:checked + label::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/index/contact/check.svg") center/cover no-repeat;
}
.form-contact__action {
  flex: 0 1 45%;
  display: flex;
  justify-content: center;
}
.form-contact__button {
  cursor: pointer;
}

/* ===================== */
/* Keyframes */
@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes slide-arrow {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* ===================== */
.intro {
  padding: 238px 0px 152px 0px;
  background: var(--bg-color);
}
.intro__container {
  display: flex;
  align-items: center;
}
.intro__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.intro__content {
  flex: 0 1 72%;
  position: relative;
}
.intro__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}
.intro__subtitle {
  max-width: 1000px;
}

.about-page {
  padding: 144px 0px 120px 0px;
  background: var(--bg-color-2);
}

/* Price-list */
.price-list {
  padding: 120px 0px 0px 0px;
  background: var(--bg-color-2);
}
.price-list__items {
  padding: 0px 0px 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.item-price-list {
  padding: 60px 40px 170px 40px;
  position: relative;
  background: var(--bg-item-price-list);
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.item-price-list__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-color);
}
.item-price-list__text {
  margin: 30px 0px 60px 0px;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.item-price-list__price {
  font-weight: 600;
  font-size: 32px;
  line-height: 118%;
  color: #BF021F;
}
.item-price-list__button {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
}

/* ===================== */
/* Stages */
.stages {
  padding: 144px 0px 120px 0px;
  background: var(--bg-color-2);
}
.stages__header {
  width: 72%;
}
.stages__subtitle {
  max-width: 860px;
}
.stages__items {
  margin: 112px 0px 0px 0px;
  padding: 0px 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.item-stages {
  display: flex;
  align-items: center;
  gap: 50px;
}
.item-stages__number {
  flex: 0 0 20%;
  font-weight: 900;
  font-size: calc(64px + 16 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
  position: relative;
}
.item-stages__number::after {
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  width: 4px;
  height: 100%;
  background: var(--bg-item-stages-after);
  border-radius: 120px;
}
.item-stages__number-red {
  color: #BF021F;
}
.item-stages__wrapper {
  flex: 0 1 80%;
}
.item-stages__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 118%;
  color: var(--text-color);
}
.item-stages__text {
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  line-height: 122%;
  color: var(--text-color);
}

/* ===================== */
.product {
  padding: 120px 0px;
  background: var(--bg-color-2);
}
.product__content {
  margin: 0px 0px 0px auto;
  width: 72%;
}
.product__title {
  margin: 0px 0px 100px 0px;
  font-weight: 600;
  font-size: calc(32px + 16 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}
.product__image {
  margin: 0px 0px 120px 0px;
}
.product__image img {
  max-width: 100%;
}
.product__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}
.item-product img {
  max-width: 100%;
}

.gallery {
  padding: 120px 0px;
  background: var(--bg-color-2);
}
.gallery__navigation {
  margin: 0px 0px 80px 0px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.gallery__link {
  font-weight: 600;
  font-size: 22px;
  line-height: 118%;
  color: var(--text-color);
}
.gallery__link._active {
  color: #BF021F;
}
.gallery__content {
  display: none;
  gap: 60px;
}
.gallery__content._active {
  display: flex;
}
.gallery__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.gallery__items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.gallery__item {
  display: block;
}
.gallery__group {
  display: flex;
  gap: 60px;
}
.item-gallery {
  display: block;
}
.item-gallery__image {
  display: block;
  overflow: hidden;
  border-radius: 5.6px;
}
.item-gallery__image img {
  width: 100%;
  transition: transform 0.5s ease;
}
.item-gallery__title {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1360));
  line-height: 140%;
  color: var(--text-color);
}
.item-gallery__half {
  margin: 0px 0px 0px auto;
  max-width: 750px;
}

/*----------Media---------- */
@media (any-hover: hover) {
  .menu__link:hover {
    color: #bf021f;
  }
  .menu__link:hover:after {
    width: 100%;
  }
  .item-portfolio__image:hover img {
    transform: scale(1.2);
  }
  .item-portfolio__image:hover + .item-portfolio__title {
    text-decoration: underline;
  }
  .item-portfolio__title:hover {
    text-decoration: underline;
  }
  .item-services:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-item-services);
  }
  .item-services:hover .item-services__more svg {
    animation: slide-arrow 1s ease 0.3s;
  }
  .item-about__image:hover img {
    transform: scale(1.2);
  }
  .item-about__image:hover::after {
    opacity: 1;
  }
  .item-about__image:hover .item-about__socials {
    opacity: 1;
    transform: translateY(0%);
  }
  .item-about__image:hover + .item-about__info .item-about__title {
    text-decoration: underline;
  }
  .footer__social:hover {
    color: #bf021f;
  }
  .footer__social:hover::after {
    width: 100%;
  }
  .privacy-footer__link:first-child:hover {
    color: #bf021f;
  }
  .privacy-footer__link:first-child:hover::after {
    width: 100%;
  }
  .item-gallery__image:hover img {
    transform: scale(1.2);
  }
  .item-gallery__image:hover + .item-gallery__title {
    text-decoration: underline;
  }
  .item-gallery__title:hover {
    text-decoration: underline;
  }
  .item-price-list:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-item-services);
  }
}
@media (max-height: 700px) {
  .hero__scroll {
    display: none;
  }
}
@media (max-height: 900px) {
  .hero {
    padding: 208px 0px 80px 0px;
    min-height: 100vh;
  }
}
@media (max-width: 1700px) {
  .hero__scroll {
    left: 28.5%;
    transform: translateX(0%);
  }
  .item-portfolio__image img {
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  .services__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .contact {
    padding: 116px 0px 80px 0px;
  }
  .contact__header {
    margin: 0px 0px 0px auto;
    width: 72%;
  }
  .contact__media {
    display: none;
  }
  .contact__content {
    flex: 0 1 100%;
  }
  .form-contact {
    flex-direction: row-reverse;
  }
  .form-contact__wrapper {
    flex: 0 1 72%;
  }
  .form-contact__input {
    width: 80%;
  }
  .form-contact__action {
    flex: 0 1 28%;
  }
  .footer__wrapper {
    gap: 30px;
  }
  .footer__social:last-child {
    display: none;
  }
  .footer__social-tablet {
    margin: 0px 0px 0px 0px;
    display: block;
  }
  .price-list {
    padding: 80px 0px 0px 0px;
  }
  .price-list__items {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 100px;
  }
  .stages__items {
    padding: 0px 0px;
  }
}
/*PC*/
@media (max-width: 1087px) {
  .stages {
    padding: 104px 0px 80px 0px;
  }
  .stages__header {
    width: 100%;
  }
  .stages__items {
    margin: 92px 0px 0px 0px;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }
  .item-stages__number {
    flex: 0 0 12%;
  }
  .item-stages__wrapper {
    flex: 0 1 88%;
  }
}
/* ===================== */
/*TABLET*/
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 850px;
  }
  .button {
    width: 180px;
    height: 180px;
  }
  .section {
    padding: 104px 0px 0px 0px;
  }
  .menu__list {
    gap: 25px;
  }
  .menu__actions {
    gap: 20px;
  }
  .hero__scroll {
    display: none;
  }
  .hero__action {
    justify-content: flex-start;
  }
  .hero__subtitle {
    margin: 40px 30px 0px 0px;
  }
  .portfolio__content {
    margin: 92px 0px 0px 0px;
    flex-direction: column;
    gap: 40px;
  }
  .portfolio__items {
    gap: 40px;
  }
  .portfolio__group {
    gap: 20px;
  }
  .portfolio__button-touch {
    margin: -20px 8% 0px 0px;
    display: flex;
    align-self: flex-end;
  }
  .item-portfolio__half {
    margin: 0px 0px 0px 0px;
    max-width: none;
  }
  .item-portfolio__half img {
    width: 100%;
  }
  .item-portfolio-order-1 {
    order: 1;
  }
  .item-portfolio-order-2 {
    order: 3;
  }
  .item-portfolio-order-3 {
    order: 2;
  }
  .portfolio__items-right {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .portfolio__button-pc {
    display: none;
  }
  .services__action {
    justify-content: flex-start;
  }
  .services__button {
    margin: 17px 0px 0px 0px;
  }
  .services__items {
    margin: 92px 0px 80px 0px;
    gap: 40px;
  }
  .item-services__body {
    margin: 0px 0px 40px 0px;
  }
  .about__action {
    justify-content: flex-start;
  }
  .about__button {
    margin: 17px 0px 0px 0px;
  }
  .about__items {
    margin: 92px 0px 0px 0px;
  }
  .item-about:nth-child(2) {
    margin: 64px 0px 0px 0px;
  }
  .item-about:nth-child(3) {
    margin: 5px 0px 0px 0px;
  }
  .item-about__info {
    margin: 10px 0px 0px 0px;
  }
  .feedbacks__content {
    margin: 112px 0px 0px 0px;
  }
  .feedbacks__slider-pc {
    display: none;
  }
  .feedbacks__slider-tablet {
    display: block;
  }
  .feedbacks__items {
    display: flex;
    flex-direction: column;
    gap: 82px;
  }
  .buttons-feedbacks {
    margin: 0px 0px 40px 0px;
    position: static;
    justify-content: flex-end;
  }
  .contact {
    padding: 104px 0px 80px 0px;
  }
  .contact__form {
    margin: 72px 0px 0px 0px;
  }
  .form-contact__input {
    width: 100%;
  }
  .form-contact__privacy {
    margin: 8px 0px 0px 0px;
  }
  .form-contact__action {
    justify-content: flex-start;
  }
  .footer {
    padding: 90px 0px 80px 0px;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer__logo img {
    max-width: 255px;
  }
  .footer__wrapper {
    align-items: center;
  }
  .footer__socials {
    gap: 20px;
  }
  .privacy-footer {
    gap: 15px;
  }
  .privacy-footer__link {
    font-size: 16px;
  }
  .intro {
    padding: 214px 0px 112px 0px;
  }
  .intro__action {
    justify-content: flex-start;
  }
  .about-page {
    padding: 104px 0px 80px 0px;
  }
  .price-list__items {
    padding: 0px 0px 40px 0px;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .item-price-list {
    padding: 40px 40px 174px 40px;
  }
  .item-price-list__text {
    margin: 25px 0px 40px 0px;
  }
  .product {
    padding: 80px 0px;
  }
  .product__title {
    margin: 0px 0px 80px 0px;
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-product-none {
    display: none;
  }
  .gallery {
    padding: 80px 0px;
  }
  .gallery__navigation {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .gallery__content {
    flex-direction: column;
    gap: 40px;
  }
  .gallery__items-wrapper {
    flex-direction: row;
    gap: 40px;
  }
  .gallery__items {
    gap: 40px;
  }
  .gallery__group {
    gap: 40px;
  }
  .item-gallery__half {
    margin: 0px 0px 0px 0px;
    max-width: none;
  }
  .item-gallery__half img {
    width: 100%;
  }
  .item-gallery__image-full {
    max-height: 550px;
    overflow: hidden;
    border-radius: 8px;
  }
  .item-gallery__image-full img {
    width: 100%;
  }
}
/* ===================== */
/*MOBILE*/
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
  .section-header {
    width: 100%;
  }
  .subtitle {
    margin: 30px 30px 0px 0px;
  }
  .header._fixed .header__container {
    min-height: 80px;
  }
  .menu {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .menu__icon {
    margin: 0px 0px 0px 40px;
    display: block;
    position: relative;
    width: 37px;
    height: 14px;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon._active {
    height: 5px;
  }
  .menu__icon span, .menu__icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: #bf021f;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  .menu__icon span {
    width: 25px;
    right: 0;
  }
  .menu__icon._active span {
    width: 37px;
    transform: rotate(-45deg);
  }
  .menu__icon::before {
    bottom: 0;
  }
  .menu__icon._active::before {
    transform: rotate(45deg);
  }
  .menu__body {
    padding: 174px 15px 0px 0px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    overflow: auto;
    background: var(--bg-menu-burger);
    transition: right 0.3s ease;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    color: var(--text-menu-burger);
  }
  .menu .menu__link-button {
    margin: 20px 0px 0px 0px;
  }
  .menu__link-none {
    display: flex;
  }
  .menu__actions._active .menu__language, .menu__actions._active svg path {
    color: var(--text-menu-burger);
    fill: var(--text-menu-burger);
  }
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__action {
    justify-content: flex-end;
  }
  .hero__button {
    margin: 80px 8% 0px 0px;
  }
  .services__container {
    flex-direction: column-reverse;
  }
  .services__action {
    justify-content: flex-end;
  }
  .services__button {
    margin: 80px 8% 80px 0px;
  }
  .services__items {
    margin: 92px 0px 0px 0px;
    gap: 30px;
  }
  .about__container {
    flex-direction: column-reverse;
  }
  .about__action {
    justify-content: flex-end;
  }
  .about__button {
    margin: 60px 8% 0px 0px;
  }
  .feedbacks__slider-tablet {
    display: none;
  }
  .feedbacks__slider-mobile {
    display: block;
  }
  .item-feedbacks {
    padding: 40px 30px 40px 20px;
  }
  .contact__header {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .form-contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-contact__wrapper {
    width: 100%;
    flex: 0 1 100%;
  }
  .form-contact__input {
    width: 100%;
  }
  .form-contact__action {
    width: 100%;
    flex: 0 1 100%;
    justify-content: flex-end;
  }
  .form-contact__button {
    margin: 50px 8% 0px 0px;
  }
  .intro {
    padding: 214px 0px 80px 0px;
  }
  .intro__container {
    flex-direction: column-reverse;
  }
  .intro__action {
    width: 100%;
    justify-content: flex-end;
  }
  .intro__button {
    margin: 92px 8% 0px 0px;
  }
  .item-stages__number {
    flex: 0 0 15%;
  }
  .item-stages__wrapper {
    flex: 0 1 85%;
  }
  .product__content {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .product__title {
    margin: 0px 0px 40px 0px;
  }
  .product__image {
    margin: 0px 0px 80px 0px;
  }
  .gallery__items-wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .gallery__group {
    gap: 20px;
  }
}
/* ===================== */
/*MOBILE SMALL*/
@media (max-width: 479.98px) {
  .section {
    padding: 50px 0px 0px 0px;
  }
  .subtitle {
    margin: 20px 30px 0px 0px;
  }
  .header__logo img {
    max-width: 42px;
  }
  .header__logo svg {
    max-width: 100px;
  }
  .menu {
    position: relative;
  }
  .menu__body {
    width: 272px;
  }
  .menu__actions {
    position: absolute;
    top: -13px;
    right: 70px;
    opacity: 0;
  }
  .menu__actions._active {
    opacity: 1;
    transition: opacity 0.2s ease 0.1s;
  }
  .hero {
    padding: 174px 0px 50px 0px;
  }
  .hero__subtitle {
    margin: 20px 30px 0px 0px;
  }
  .hero__button {
    margin: 50px 0px 0px 0px;
  }
  .portfolio__content {
    margin: 62px 0px 0px 0px;
    gap: 20px;
  }
  .portfolio__items {
    gap: 20px;
  }
  .portfolio__item img {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .portfolio__group {
    flex-direction: column;
  }
  .portfolio__button-touch {
    margin: 50px 0px 0px 0px;
  }
  .item-portfolio__image {
    overflow: visible;
  }
  .portfolio__items-right {
    flex-direction: column;
    gap: 20px;
  }
  .services__items {
    margin: 62px 0px 0px 0px;
  }
  .services__button {
    margin: 65px 0px 50px 0px;
  }
  .item-services {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 30px 20px;
  }
  .item-services__text {
    margin: 10px 0px 0px 0px;
  }
  .item-services__body {
    margin: 0px 0px 20px 0px;
  }
  .item-services__footer {
    flex-direction: column;
    gap: 25px;
  }
  .item-services__more {
    align-self: flex-end;
  }
  .about__button {
    margin: 50px 0px 0px 0px;
  }
  .about__items {
    margin: 62px 0px 0px 0px;
    flex-direction: column;
    gap: 20px;
  }
  .item-about__image {
    overflow: visible;
  }
  .item-about:nth-child(2) {
    margin: 0px 0px 0px 0px;
  }
  .item-about:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .item-about__image img {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .feedbacks__content {
    margin: 102px 0px 0px 0px;
  }
  .feedbacks__slider-mobile {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .item-feedbacks {
    padding: 30px 14px 30px 20px;
  }
  .item-feedbacks__header {
    gap: 15px;
  }
  .item-feedbacks__body {
    margin: 10px 0px 0px 0px;
  }
  .buttons-feedbacks {
    margin: 0px 0px 30px 0px;
  }
  .contact {
    padding: 50px 0px;
  }
  .contact__title {
    margin: 0px 30px 0px 0px;
  }
  .form-contact {
    margin: 62px 0px 0px 0px;
  }
  .form-contact__privacy {
    margin: 0px 0px 0px 0px;
  }
  .form-contact__button {
    margin: 50px 0px 0px 0px;
  }
  .footer {
    padding: 75px 0px 55px 0px;
  }
  .footer__container {
    gap: 40px;
  }
  .footer__socials {
    flex-direction: column;
    gap: 30px;
  }
  .footer__wrapper {
    gap: 45px;
  }
  .privacy-footer {
    flex-direction: column;
    gap: 25px;
  }
  .privacy-footer__link {
    font-size: 18px;
  }
  .intro {
    padding: 194px 0px 50px 0px;
  }
  .intro__button {
    margin: 82px 0px 0px 0px;
  }
  .about-page {
    padding: 74px 0px 50px 0px;
  }
  .price-list {
    padding: 50px 0px 0px 0px;
  }
  .price-list__items {
    padding: 0px 0px 80px 0px;
    gap: 115px;
  }
  .item-price-list {
    padding: 20px 20px 120px 20px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .item-price-list__text {
    margin: 25px 0px 30px 0px;
  }
  .item-price-list__button {
    bottom: -80px;
  }
  .stages {
    padding: 74px 0px 50px 0px;
  }
  .stages__items {
    margin: 82px 0px 0px 0px;
    gap: 40px;
  }
  .item-stages {
    gap: 25px;
  }
  .item-stages__number {
    flex: 0 0 30%;
  }
  .item-stages__number::after {
    right: -15px;
  }
  .item-stages__wrapper {
    flex: 0 1 70%;
  }
  .item-stages__text {
    display: none;
    margin: 8px 0px 0px 0px;
  }
  .product {
    padding: 50px 0px;
  }
  .product__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .product__image {
    margin: 0px 0px 50px 0px;
  }
  .product__image img {
    max-width: none;
    width: 100%;
  }
  .item-product img {
    max-width: none;
    width: 100%;
  }
  .gallery {
    padding: 50px 0px;
  }
  .gallery__navigation {
    margin: 0px 0px 50px 0px;
  }
  .gallery__content {
    gap: 20px;
  }
  .gallery__items {
    gap: 20px;
  }
  .gallery__items-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .gallery__group {
    flex-direction: column;
  }
  .item-gallery__image {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
/* ===================== */