/*----------Basic Styles---------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Exo 2";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1710px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 144px 0px 0px 0px;
}

:root {
  --text-color: #231B19;
  --bg-color: #FFFFFF;
  --bg-color-2: #EBEBEB;
  --logo-color: #110C0D;
  --text-menu-burger: #FFFCFC;
  --bg-menu-burger: #0d0a0a;
  --bg-item-services: #FFFFFF;
}

.dark {
  --text-color: #FFFCFC;
  --bg-color: #0D0A0A;
  --bg-color-2: #1C212D;
  --logo-color: #FFFCFC;
  --text-menu-burger: #231B19;
  --bg-menu-burger: #FFFCFC;
  --bg-item-services: #171A21;
}

/*----------Mixins---------- */
/*----------Components---------- */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  font-weight: 600;
  font-size: 22px;
  line-height: 118%;
  color: #FFFFFF;
  text-align: center;
  background: #BF021F;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.section-header {
  margin: 0px 0px 0px auto;
  position: relative;
}
.section-header::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}

.title {
  font-weight: 600;
  font-size: calc(32px + 16 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}

.subtitle {
  margin: 40px 30px 0px 0px;
  max-width: 550px;
  font-size: calc(20px + 2 * ((100vw - 320px) / 1360));
  line-height: 150%;
  color: var(--text-color);
}

/*----------Pages---------- */
/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 140px;
}
.header__logo {
  flex: 0 1 28%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-text svg path {
  fill: var(--logo-color);
}
.menu {
  flex: 0 1 72%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
  gap: 40px;
}
.menu__link {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.menu__link-none {
  display: none;
}
.menu__actions {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
.menu__language {
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.menu__dark-mode svg path {
  font-size: 20px;
  line-height: 140%;
  fill: var(--text-color);
}

/* ===================== */
/* Hero */
.hero {
  padding: 208px 0px 80px 0px;
  position: relative;
  background: var(--bg-color);
}
.hero__scroll {
  position: absolute;
  left: 50%;
  bottom: 4%;
  cursor: pointer;
  transform: translateX(-50%);
}
.hero__scroll svg path, .hero__scroll svg rect {
  fill: var(--text-color);
}
.hero__container {
  display: flex;
}
.hero__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.hero__button {
  margin: 40px 0px 0px 0px;
}
.hero__content {
  flex: 0 1 72%;
  position: relative;
}
.hero__content::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #BF021F;
  border-radius: 20px;
}
.hero__title {
  font-weight: 600;
  font-size: calc(28px + 52 * ((100vw - 320px) / 1360));
  line-height: 120%;
  color: var(--text-color);
}
.hero__subtitle {
  margin: 40px 0px 0px 0px;
  max-width: 680px;
  font-size: 22px;
  line-height: 150%;
  color: var(--text-color);
}

/* ===================== */
/* Portfolio */
.portfolio {
  background: var(--bg-color-2);
}
.portfolio__header {
  width: 72%;
}
.portfolio__content {
  margin: 112px 0px 0px 0px;
  display: flex;
  gap: 60px;
}
.portfolio__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.portfolio__group {
  display: flex;
  gap: 60px;
}
.portfolio__button {
  margin: 20px auto 0px auto;
}
.portfolio__button-touch {
  display: none;
}

.item-portfolio__image img {
  width: 100%;
}
.item-portfolio__half {
  margin: 0px 0px 0px auto;
  max-width: 750px;
}
.item-portfolio__title {
  margin: 20px 0px 0px 0px;
  max-width: 450px;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1360));
  line-height: 140%;
  color: var(--text-color);
}

/* ===================== */
/* Services */
.services {
  background: var(--bg-color-2);
}
.services__container {
  display: flex;
}
.services__action {
  flex: 0 1 28%;
  display: flex;
  justify-content: center;
}
.services__content {
  flex: 0 1 72%;
}
.services__items {
  margin: 112px 0px 120px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.item-services {
  display: block;
  padding: 40px 30px 40px 30px;
  background: var(--bg-item-services);
  border-radius: 8px;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
}
.item-services:last-child {
  grid-column: 1/3;
}
.item-services__body {
  margin: 0px 0px 80px 0px;
}
.item-services__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--text-color);
}
.item-services__text {
  margin: 20px 0px 0px 0px;
  max-width: 960px;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
.item-services__footer {
  display: flex;
  justify-content: space-between;
}
.item-services__price {
  font-weight: 600;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1360));
  line-height: 118%;
  color: #BF021F;
}
.item-services__more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}

/* ===================== */
/*----------Media---------- */
@media (max-height: 700px) {
  .hero__scroll {
    display: none;
  }
}
@media (max-height: 900px) {
  .hero {
    padding: 208px 0px 80px 0px;
    min-height: 100vh;
  }
}
@media (max-width: 1700px) {
  .hero__scroll {
    left: 28%;
    transform: translateX(0%);
  }
  .item-portfolio__image img {
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  .services__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
/*PC*/
/* ===================== */
/*TABLET*/
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 850px;
  }
  .button {
    width: 180px;
    height: 180px;
  }
  .section {
    padding: 104px 0px 0px 0px;
  }
  .menu__list {
    gap: 25px;
  }
  .menu__actions {
    gap: 20px;
  }
  .hero__scroll {
    display: none;
  }
  .hero__action {
    justify-content: flex-start;
  }
  .hero__subtitle {
    margin: 40px 30px 0px 0px;
  }
  .portfolio__content {
    margin: 92px 0px 0px 0px;
    flex-direction: column;
    gap: 40px;
  }
  .portfolio__items {
    gap: 40px;
  }
  .portfolio__group {
    gap: 20px;
  }
  .portfolio__button-touch {
    margin: -20px 8% 0px 0px;
    display: flex;
    align-self: flex-end;
  }
  .item-portfolio__half {
    margin: 0px 0px 0px 0px;
    max-width: none;
  }
  .item-portfolio__half img {
    width: 100%;
  }
  .item-portfolio-order-1 {
    order: 1;
  }
  .item-portfolio-order-2 {
    order: 3;
  }
  .item-portfolio-order-3 {
    order: 2;
  }
  .portfolio__items-right {
    flex-direction: row-reverse;
    gap: 20px;
  }
  .portfolio__button-pc {
    display: none;
  }
  .services__action {
    justify-content: flex-start;
  }
  .services__items {
    margin: 92px 0px 80px 0px;
    gap: 40px;
  }
  .item-services__body {
    margin: 0px 0px 40px 0px;
  }
}
/* ===================== */
/*MOBILE*/
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
  .section-header {
    width: 100%;
  }
  .subtitle {
    margin: 30px 30px 0px 0px;
  }
  .menu {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .menu__icon {
    margin: 0px 0px 0px 40px;
    display: block;
    position: relative;
    width: 37px;
    height: 14px;
    z-index: 5;
    cursor: pointer;
  }
  .menu__icon._active {
    height: 5px;
  }
  .menu__icon span, .menu__icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: #bf021f;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  .menu__icon span {
    width: 25px;
    right: 0;
  }
  .menu__icon._active span {
    width: 37px;
    transform: rotate(-45deg);
  }
  .menu__icon::before {
    bottom: 0;
  }
  .menu__icon._active::before {
    transform: rotate(45deg);
  }
  .menu__body {
    padding: 174px 15px 0px 0px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    overflow: auto;
    background: var(--bg-menu-burger);
    transition: right 0.3s ease;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    color: var(--text-menu-burger);
  }
  .menu .menu__link-button {
    margin: 20px 0px 0px 0px;
  }
  .menu__link-none {
    display: flex;
  }
  .menu__actions._active .menu__language, .menu__actions._active svg path {
    color: var(--text-menu-burger);
    fill: var(--text-menu-burger);
  }
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__action {
    justify-content: flex-end;
  }
  .hero__button {
    margin: 80px 8% 0px 0px;
  }
  .services__container {
    flex-direction: column-reverse;
  }
  .services__action {
    justify-content: flex-end;
  }
  .services__button {
    margin: 80px 8% 80px 0px;
  }
  .services__items {
    margin: 92px 0px 0px 0px;
    gap: 30px;
  }
}
/* ===================== */
/*MOBILE SMALL*/
@media (max-width: 479.98px) {
  .section {
    padding: 50px 0px 0px 0px;
  }
  .subtitle {
    margin: 20px 30px 0px 0px;
  }
  .header__logo img {
    max-width: 42px;
  }
  .header__logo svg {
    max-width: 100px;
  }
  .menu {
    position: relative;
  }
  .menu__body {
    width: 272px;
  }
  .menu__actions {
    position: absolute;
    top: -13px;
    right: 70px;
    opacity: 0;
  }
  .menu__actions._active {
    opacity: 1;
    transition: opacity 0.2s ease 0.1s;
  }
  .hero {
    padding: 174px 0px 50px 0px;
  }
  .hero__subtitle {
    margin: 20px 30px 0px 0px;
  }
  .hero__button {
    margin: 50px 0px 0px 0px;
  }
  .portfolio__content {
    margin: 62px 0px 0px 0px;
    gap: 20px;
  }
  .portfolio__items {
    gap: 20px;
  }
  .portfolio__item img {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .portfolio__group {
    flex-direction: column;
  }
  .portfolio__button-touch {
    margin: 50px 0px 0px 0px;
  }
  .portfolio__items-right {
    flex-direction: column;
    gap: 20px;
  }
  .services__items {
    margin: 62px 0px 0px 0px;
  }
  .services__button {
    margin: 65px 0px 50px 0px;
  }
  .item-services {
    max-width: none;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 30px 20px;
  }
  .item-services__text {
    margin: 10px 0px 0px 0px;
  }
  .item-services__body {
    margin: 0px 0px 20px 0px;
  }
  .item-services__footer {
    flex-direction: column;
    gap: 25px;
  }
  .item-services__more {
    align-self: flex-end;
  }
}
/* ===================== */