@media (max-height: 700px) {
	.hero {
		&__scroll {
			display: none;
		}
	}
}

@media (max-height: 900px) {
	.hero {
		padding: 208px 0px 80px 0px;
		min-height: 100vh;
	}
}

@media (max-width: 1700px) {
	.hero {
		&__scroll {
			left: 28%;

			transform: translateX(0%);
		}
	}

	.item-portfolio {
		&__image img {
			max-width: 100%;
		}
	}
}

@media (max-width: 1400px) {
	.services {
		&__items {
			display: flex;
			flex-direction: column;
			gap: 60px;
		}
	}
}

/*PC*/
@media (max-width: 1087px) {}

/* ===================== */

/*TABLET*/
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 850px;
	}

	.button {
		width: 180px;
		height: 180px;
	}

	.section {
		padding: 104px 0px 0px 0px;
	}

	.menu {
		&__list {
			gap: 25px;
		}

		&__actions {
			gap: 20px;
		}
	}

	.hero {
		&__scroll {
			display: none;
		}

		&__action {
			justify-content: flex-start;
		}

		&__subtitle {
			margin: 40px 30px 0px 0px;
		}
	}

	.portfolio {
		&__content {
			margin: 92px 0px 0px 0px;

			flex-direction: column;
			gap: 40px;
		}

		&__items {
			gap: 40px;
		}

		&__group {
			gap: 20px;
		}

		&__button-touch {
			margin: -20px 8% 0px 0px;

			display: flex;

			align-self: flex-end;
		}
	}

	.item-portfolio {
		&__half {
			margin: 0px 0px 0px 0px;
			max-width: none;

			& img {
				width: 100%;
			}
		}
	}

	.item-portfolio-order-1 {
		order: 1;
	}

	.item-portfolio-order-2 {
		order: 3;
	}

	.item-portfolio-order-3 {
		order: 2;
	}

	.portfolio__items-right {
		flex-direction: row-reverse;
		gap: 20px;
	}

	.portfolio__button-pc {
		display: none;
	}

	.services {
		&__action {
			justify-content: flex-start;
		}

		&__items {
			margin: 92px 0px 80px 0px;

			gap: 40px;
		}
	}

	.item-services {
		&__body {
			margin: 0px 0px 40px 0px;
		}
	}
}

/* ===================== */

/*MOBILE*/
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}

	.section-header {
		width: 100%;
	}

	.subtitle {
		margin: 30px 30px 0px 0px;
	}

	.menu {
		flex-direction: row-reverse;
		justify-content: flex-start;

		&__icon {
			margin: 0px 0px 0px 40px;

			display: block;

			position: relative;
			width: 37px;
			height: 14px;
			z-index: 5;
			cursor: pointer;

			&._active {
				height: 5px;
			}

			& span,
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 4px;

				background: #bf021f;
				border-radius: 50px;

				transition: all .3s ease;
			}

			& span {
				width: 25px;
				right: 0;
			}

			&._active span {
				width: 37px;

				transform: rotate(-45deg);
			}

			&::before {
				bottom: 0;
			}

			&._active::before {
				transform: rotate(45deg);
			}
		}

		&__body {
			padding: 174px 15px 0px 0px;

			position: fixed;
			top: 0;
			right: -100%;
			width: 320px;
			height: 100%;
			overflow: auto;

			background: var(--bg-menu-burger);

			transition: right .3s ease;

			&._active {
				right: 0;
			}
		}

		&__list {
			flex-direction: column;
			align-items: flex-end;
			gap: 40px;
		}

		&__link {
			font-weight: 500;
			font-size: 28px;
			line-height: 121%;
			color: var(--text-menu-burger);
		}

		.menu__link-button {
			margin: 20px 0px 0px 0px;
		}

		&__link-none {
			display: flex;
		}

		&__actions._active .menu__language,
		&__actions._active svg path {
			color: var(--text-menu-burger);
			fill: var(--text-menu-burger);
		}
	}

	.hero {
		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			justify-content: flex-end;
		}

		&__button {
			margin: 80px 8% 0px 0px;
		}
	}

	.services {
		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			justify-content: flex-end;
		}

		&__button {
			margin: 80px 8% 80px 0px;

		}

		&__items {
			margin: 92px 0px 0px 0px;

			gap: 30px;
		}
	}
}

/* ===================== */

/*MOBILE SMALL*/
@media (max-width: 479.98px) {
	.section {
		padding: 50px 0px 0px 0px;
	}

	.subtitle {
		margin: 20px 30px 0px 0px;
	}

	.header {
		&__logo img {
			max-width: 42px;
		}

		&__logo svg {
			max-width: 100px;
		}
	}

	.menu {
		position: relative;

		&__body {
			width: 272px;
		}

		&__actions {
			position: absolute;
			top: -13px;
			right: 70px;

			opacity: 0;

			&._active {
				opacity: 1;
				transition: opacity .2s ease .1s;
			}
		}
	}

	.hero {
		padding: 174px 0px 50px 0px;

		&__subtitle {
			margin: 20px 30px 0px 0px;
		}

		&__button {
			margin: 50px 0px 0px 0px;
		}
	}

	.portfolio {
		&__content {
			margin: 62px 0px 0px 0px;
			gap: 20px;
		}

		&__items {
			gap: 20px;
		}

		&__item {
			& img {
				max-width: none;
				width: 100vw;
				margin-left: calc(50% - 50vw);
			}
		}

		&__group {
			flex-direction: column;
		}

		&__button-touch {
			margin: 50px 0px 0px 0px;
		}
	}

	.portfolio__items-right {
		flex-direction: column;
		gap: 20px;
	}

	.services {
		&__items {
			margin: 62px 0px 0px 0px;
		}

		&__button {
			margin: 65px 0px 50px 0px;
		}
	}

	.item-services {
		max-width: none;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		padding: 30px 20px;

		&__text {
			margin: 10px 0px 0px 0px;
		}

		&__body {
			margin: 0px 0px 20px 0px;
		}

		&__footer {
			flex-direction: column;
			gap: 25px;
		}

		&__more {
			align-self: flex-end;
		}
	}
}

/* ===================== */