@media (any-hover: hover) {

	.menu {
		&__link:hover {
			color: #bf021f;

			&:after {
				width: 100%;
			}
		}
	}

	.item-portfolio {
		&__image:hover img {
			transform: scale(1.2);
		}

		&__image:hover+.item-portfolio__title {
			text-decoration: underline;
		}

		&__title:hover {
			text-decoration: underline;
		}
	}

	.item-services {
		&:hover {
			transform: scale(1.02);
			box-shadow: var(--shadow-item-services);
		}

		&:hover .item-services__more svg {
			animation: slide-arrow 1s ease .3s;
		}
	}

	.item-about {
		&__image:hover img {
			transform: scale(1.2);
		}

		&__image:hover::after {
			opacity: 1;
		}

		&__image:hover .item-about__socials {
			opacity: 1;
			transform: translateY(0%);
		}

		&__image:hover+.item-about__info .item-about__title {
			text-decoration: underline;
		}
	}

	.footer {
		&__social:hover {
			color: #bf021f;

			&::after {
				width: 100%;
			}
		}
	}

	.privacy-footer {
		&__link:first-child:hover {
			color: #bf021f;

			&::after {
				width: 100%;
			}
		}
	}

	.item-gallery {
		&__image:hover img {
			transform: scale(1.2);
		}

		&__image:hover+.item-gallery__title {
			text-decoration: underline;
		}

		&__title:hover {
			text-decoration: underline;
		}
	}

	.item-price-list {
		&:hover {
			transform: scale(1.02);
			box-shadow: var(--shadow-item-services);
		}
	}
}

@media (max-height: 700px) {
	.hero {
		&__scroll {
			display: none;
		}
	}
}

@media (max-height: 900px) {
	.hero {
		padding: 208px 0px 80px 0px;
		min-height: 100vh;
	}
}

@media (max-width: 1700px) {
	.hero {
		&__scroll {
			left: 28.5%;

			transform: translateX(0%);
		}
	}

	.item-portfolio {
		&__image img {
			max-width: 100%;
		}
	}
}

@media (max-width: 1400px) {
	.services {
		&__items {
			display: flex;
			flex-direction: column;
			gap: 60px;
		}
	}

	.contact {
		padding: 116px 0px 80px 0px;

		&__header {
			margin: 0px 0px 0px auto;

			width: 72%;
		}

		&__media {
			display: none;
		}

		&__content {
			flex: 0 1 100%;
		}
	}

	.form-contact {
		flex-direction: row-reverse;

		&__wrapper {
			flex: 0 1 72%;
		}

		&__input {
			width: 80%;
		}

		&__action {
			flex: 0 1 28%;
		}
	}

	.footer {
		&__wrapper {
			gap: 30px;
		}

		&__social:last-child {
			display: none;
		}

		&__social-tablet {
			margin: 0px 0px 0px 0px;

			display: block;
		}
	}

	.price-list {
		padding: 80px 0px 0px 0px;

		&__items {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
			row-gap: 100px;
		}
	}

	.stages {
		&__items {
			padding: 0px 0px;
		}
	}
}

/*PC*/
@media (max-width: 1087px) {
	.stages {
		padding: 104px 0px 80px 0px;

		&__header {
			width: 100%;
		}

		&__items {
			margin: 92px 0px 0px 0px;

			grid-template-columns: repeat(1, 1fr);
			gap: 60px;
		}
	}

	.item-stages {
		&__number {
			flex: 0 0 12%;
		}

		&__wrapper {
			flex: 0 1 88%;
		}
	}
}

/* ===================== */

/*TABLET*/
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 850px;
	}

	.button {
		width: 180px;
		height: 180px;
	}

	.section {
		padding: 104px 0px 0px 0px;
	}

	.menu {
		&__list {
			gap: 25px;
		}

		&__actions {
			gap: 20px;
		}
	}

	.hero {
		&__scroll {
			display: none;
		}

		&__action {
			justify-content: flex-start;
		}

		&__subtitle {
			margin: 40px 30px 0px 0px;
		}
	}

	.portfolio {
		&__content {
			margin: 92px 0px 0px 0px;

			flex-direction: column;
			gap: 40px;
		}

		&__items {
			gap: 40px;
		}

		&__group {
			gap: 20px;
		}

		&__button-touch {
			margin: -20px 8% 0px 0px;

			display: flex;

			align-self: flex-end;
		}
	}

	.item-portfolio {
		&__half {
			margin: 0px 0px 0px 0px;
			max-width: none;

			& img {
				width: 100%;
			}
		}
	}

	.item-portfolio-order-1 {
		order: 1;
	}

	.item-portfolio-order-2 {
		order: 3;
	}

	.item-portfolio-order-3 {
		order: 2;
	}

	.portfolio__items-right {
		flex-direction: row-reverse;
		gap: 20px;
	}

	.portfolio__button-pc {
		display: none;
	}

	.services {
		&__action {
			justify-content: flex-start;
		}

		&__button {
			margin: 17px 0px 0px 0px;
		}

		&__items {
			margin: 92px 0px 80px 0px;

			gap: 40px;
		}
	}

	.item-services {
		&__body {
			margin: 0px 0px 40px 0px;
		}
	}

	.about {
		&__action {
			justify-content: flex-start;
		}

		&__button {
			margin: 17px 0px 0px 0px;
		}

		&__items {
			margin: 92px 0px 0px 0px;
		}
	}

	.item-about {

		&:nth-child(2) {
			margin: 64px 0px 0px 0px;
		}

		&:nth-child(3) {
			margin: 5px 0px 0px 0px;
		}

		&__info {
			margin: 10px 0px 0px 0px;
		}
	}

	.feedbacks {

		&__content {
			margin: 112px 0px 0px 0px;
		}

		&__slider-pc {
			display: none;
		}

		&__slider-tablet {
			display: block;
		}

		&__items {
			display: flex;
			flex-direction: column;
			gap: 82px;
		}
	}

	.buttons-feedbacks {
		margin: 0px 0px 40px 0px;

		position: static;

		justify-content: flex-end;
	}

	.contact {
		padding: 104px 0px 80px 0px;

		&__form {
			margin: 72px 0px 0px 0px;
		}
	}

	.form-contact {

		&__input {
			width: 100%;
		}

		&__privacy {
			margin: 8px 0px 0px 0px;
		}

		&__action {
			justify-content: flex-start;
		}
	}

	.footer {
		padding: 90px 0px 80px 0px;

		&__container {
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}

		&__logo img {
			max-width: 255px;
		}

		&__wrapper {
			align-items: center;
		}

		&__socials {
			gap: 20px;
		}
	}

	.privacy-footer {
		gap: 15px;

		&__link {
			font-size: 16px;
		}
	}

	.intro {
		padding: 214px 0px 112px 0px;

		&__action {
			justify-content: flex-start;
		}
	}

	.about-page {
		padding: 104px 0px 80px 0px;
	}

	.price-list {
		&__items {
			padding: 0px 0px 40px 0px;

			grid-template-columns: repeat(1, 1fr);
			gap: 100px;
		}
	}

	.item-price-list {
		padding: 40px 40px 174px 40px;

		&__text {
			margin: 25px 0px 40px 0px;
		}
	}

	.product {
		padding: 80px 0px;

		&__title {
			margin: 0px 0px 80px 0px;
		}

		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.item-product-none {
		display: none;
	}

	.gallery {
		padding: 80px 0px;

		&__navigation {
			flex-direction: column;
			align-items: center;
			gap: 40px;
		}

		&__content {
			flex-direction: column;
			gap: 40px;
		}

		&__items-wrapper {
			flex-direction: row;
			gap: 40px;
		}

		&__items {
			gap: 40px;
		}

		&__group {
			gap: 40px;
		}
	}

	.item-gallery {
		&__half {
			margin: 0px 0px 0px 0px;

			max-width: none;

			& img {
				width: 100%;
			}
		}

		&__image-full {
			max-height: 550px;
			overflow: hidden;
			border-radius: 8px;

			& img {
				width: 100%;
			}
		}
	}
}

/* ===================== */

/*MOBILE*/
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}

	.section-header {
		width: 100%;
	}

	.subtitle {
		margin: 30px 30px 0px 0px;
	}

	.header {
		&._fixed .header__container {
			min-height: 80px;
		}
	}

	.menu {
		flex-direction: row-reverse;
		justify-content: flex-start;

		&__icon {
			margin: 0px 0px 0px 40px;

			display: block;

			position: relative;
			width: 37px;
			height: 14px;
			z-index: 5;
			cursor: pointer;

			&._active {
				height: 5px;
			}

			& span,
			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 4px;

				background: #bf021f;
				border-radius: 50px;

				transition: all .3s ease;
			}

			& span {
				width: 25px;
				right: 0;
			}

			&._active span {
				width: 37px;

				transform: rotate(-45deg);
			}

			&::before {
				bottom: 0;
			}

			&._active::before {
				transform: rotate(45deg);
			}
		}

		&__body {
			padding: 174px 15px 0px 0px;

			position: fixed;
			top: 0;
			right: -100%;
			width: 320px;
			height: 100%;
			overflow: auto;

			background: var(--bg-menu-burger);

			transition: right .3s ease;

			&._active {
				right: 0;
			}
		}

		&__list {
			flex-direction: column;
			align-items: flex-end;
			gap: 40px;
		}

		&__link {
			font-weight: 500;
			font-size: 28px;
			line-height: 121%;
			color: var(--text-menu-burger);
		}

		.menu__link-button {
			margin: 20px 0px 0px 0px;
		}

		&__link-none {
			display: flex;
		}

		&__actions._active .menu__language,
		&__actions._active svg path {
			color: var(--text-menu-burger);
			fill: var(--text-menu-burger);
		}
	}

	.hero {
		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			justify-content: flex-end;
		}

		&__button {
			margin: 80px 8% 0px 0px;
		}
	}

	.services {
		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			justify-content: flex-end;
		}

		&__button {
			margin: 80px 8% 80px 0px;

		}

		&__items {
			margin: 92px 0px 0px 0px;

			gap: 30px;
		}
	}

	.about {
		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			justify-content: flex-end;
		}

		&__button {
			margin: 60px 8% 0px 0px;
		}
	}

	.feedbacks {

		&__slider-tablet {
			display: none;
		}

		&__slider-mobile {
			display: block;
		}
	}

	.item-feedbacks {
		padding: 40px 30px 40px 20px;
	}

	.contact {
		&__header {
			margin: 0px 0px 0px 0px;

			width: 100%;
		}
	}

	.form-contact {
		flex-direction: column;
		align-items: flex-start;

		&__wrapper {
			width: 100%;
			flex: 0 1 100%;
		}

		&__input {
			width: 100%;
		}

		&__action {
			width: 100%;
			flex: 0 1 100%;

			justify-content: flex-end;
		}

		&__button {
			margin: 50px 8% 0px 0px;
		}
	}

	.intro {
		padding: 214px 0px 80px 0px;

		&__container {
			flex-direction: column-reverse;
		}

		&__action {
			width: 100%;

			justify-content: flex-end;
		}

		&__button {
			margin: 92px 8% 0px 0px;
		}
	}

	.item-stages {
		&__number {
			flex: 0 0 15%;
		}

		&__wrapper {
			flex: 0 1 85%;
		}
	}

	.product {
		&__content {
			margin: 0px 0px 0px 0px;

			width: 100%;
		}

		&__title {
			margin: 0px 0px 40px 0px;
		}

		&__image {
			margin: 0px 0px 80px 0px;
		}
	}

	.gallery {

		&__items-wrapper {
			flex-direction: row;
			gap: 20px;
		}

		&__group {
			gap: 20px;
		}
	}
}

/* ===================== */

/*MOBILE SMALL*/
@media (max-width: 479.98px) {
	.section {
		padding: 50px 0px 0px 0px;
	}

	.subtitle {
		margin: 20px 30px 0px 0px;
	}

	.header {
		&__logo img {
			max-width: 42px;
		}

		&__logo svg {
			max-width: 100px;
		}
	}

	.menu {
		position: relative;

		&__body {
			width: 272px;
		}

		&__actions {
			position: absolute;
			top: -13px;
			right: 70px;

			opacity: 0;

			&._active {
				opacity: 1;
				transition: opacity .2s ease .1s;
			}
		}
	}

	.hero {
		padding: 174px 0px 50px 0px;

		&__subtitle {
			margin: 20px 30px 0px 0px;
		}

		&__button {
			margin: 50px 0px 0px 0px;
		}
	}

	.portfolio {
		&__content {
			margin: 62px 0px 0px 0px;
			gap: 20px;
		}

		&__items {
			gap: 20px;
		}

		&__item {
			& img {
				max-width: none;
				width: 100vw;
				margin-left: calc(50% - 50vw);
			}
		}

		&__group {
			flex-direction: column;
		}

		&__button-touch {
			margin: 50px 0px 0px 0px;
		}
	}

	.item-portfolio {
		&__image {
			overflow: visible;
		}
	}

	.portfolio__items-right {
		flex-direction: column;
		gap: 20px;
	}

	.services {
		&__items {
			margin: 62px 0px 0px 0px;
		}

		&__button {
			margin: 65px 0px 50px 0px;
		}
	}

	.item-services {
		max-width: none;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		padding: 30px 20px;

		&__text {
			margin: 10px 0px 0px 0px;
		}

		&__body {
			margin: 0px 0px 20px 0px;
		}

		&__footer {
			flex-direction: column;
			gap: 25px;
		}

		&__more {
			align-self: flex-end;
		}
	}

	.about {
		&__button {
			margin: 50px 0px 0px 0px;
		}

		&__items {
			margin: 62px 0px 0px 0px;

			flex-direction: column;
			gap: 20px;
		}
	}

	.item-about {

		&__image {
			overflow: visible;
		}

		&:nth-child(2) {
			margin: 0px 0px 0px 0px;
		}

		&:nth-child(3) {
			margin: 0px 0px 0px 0px;
		}

		&__image img {
			max-width: none;
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}
	}

	.feedbacks {
		&__content {
			margin: 102px 0px 0px 0px;
		}

		&__slider-mobile {
			max-width: none;
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}
	}

	.item-feedbacks {
		padding: 30px 14px 30px 20px;

		&__header {
			gap: 15px;
		}

		&__body {
			margin: 10px 0px 0px 0px;
		}
	}

	.buttons-feedbacks {
		margin: 0px 0px 30px 0px;
	}

	.contact {
		padding: 50px 0px;

		&__title {
			margin: 0px 30px 0px 0px;
		}
	}

	.form-contact {
		margin: 62px 0px 0px 0px;

		&__privacy {
			margin: 0px 0px 0px 0px;
		}

		&__button {
			margin: 50px 0px 0px 0px;
		}
	}

	.footer {
		padding: 75px 0px 55px 0px;

		&__container {
			gap: 40px;
		}

		&__socials {
			flex-direction: column;
			gap: 30px;
		}

		&__wrapper {
			gap: 45px;
		}
	}

	.privacy-footer {
		flex-direction: column;
		gap: 25px;

		&__link {
			font-size: 18px;
		}
	}

	.intro {
		padding: 194px 0px 50px 0px;

		&__button {
			margin: 82px 0px 0px 0px;
		}
	}

	.about-page {
		padding: 74px 0px 50px 0px;
	}

	.price-list {
		padding: 50px 0px 0px 0px;

		&__items {
			padding: 0px 0px 80px 0px;

			gap: 115px;
		}
	}

	.item-price-list {
		padding: 20px 20px 120px 20px;

		width: 100vw;
		margin-left: calc(50% - 50vw);

		&__text {
			margin: 25px 0px 30px 0px;
		}

		&__button {
			bottom: -80px;
		}
	}

	.stages {
		padding: 74px 0px 50px 0px;

		&__items {
			margin: 82px 0px 0px 0px;

			gap: 40px;
		}
	}

	.item-stages {
		gap: 25px;

		&__number {
			flex: 0 0 30%;

			&::after {
				right: -15px;
			}
		}

		&__wrapper {
			flex: 0 1 70%;
		}

		&__text {
			display: none;
			margin: 8px 0px 0px 0px;
		}
	}

	.product {
		padding: 50px 0px;

		&__items {
			grid-template-columns: repeat(1, 1fr);
			gap: 40px;
		}

		&__image {
			margin: 0px 0px 50px 0px;

			& img {
				max-width: none;
				width: 100%;
			}
		}
	}

	.item-product {
		& img {
			max-width: none;
			width: 100%;
		}
	}

	.gallery {
		padding: 50px 0px;

		&__navigation {
			margin: 0px 0px 50px 0px;
		}

		&__content {
			gap: 20px;
		}

		&__items {
			gap: 20px;
		}

		&__items-wrapper {
			flex-direction: column;
			gap: 20px;
		}

		&__group {
			flex-direction: column;
		}
	}

	.item-gallery {
		&__image {
			width: 100vw;
			margin-left: calc(50% - 50vw);
		}
	}
}

/* ===================== */