/* Header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

	&._fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;

		background: var(--bg-color);

		animation-name: show_header;
		animation-duration: 1s;

		& .header__container {
			min-height: 100px;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		min-height: 140px;
	}

	&__logo {
		flex: 0 1 28%;

		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__logo-text {
		& svg path {
			fill: var(--logo-color);
		}
	}

	&__menu {}
}

.menu {
	flex: 0 1 72%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__icon {
		display: none;
	}

	&__body {}

	&__list {
		display: flex;
		gap: 40px;
	}

	&__link {
		font-size: 20px;
		line-height: 140%;
		color: var(--text-color);
		position: relative;
		transition: color .5s ease;

		&:after {
			position: absolute;
			content: '';
			bottom: -8px;
			left: 0;
			width: 0%;
			height: 2px;
			background: #BF021F;
			transition: width .5s ease;
		}

		&._active {
			position: relative;
			color: #BF021F;

			&:after {
				position: absolute;
				content: '';
				bottom: -8px;
				left: 0;
				width: 100%;
				height: 2px;
				background: #BF021F;
			}
		}
	}

	&__link-none {
		display: none;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 25px;

		position: relative;
	}

	&__language {
		font-size: 20px;
		line-height: 140%;
		color: var(--text-color);
	}

	&__dark-mode svg path {
		font-size: 20px;
		line-height: 140%;
		fill: var(--text-color);
	}
}

/* ===================== */

/* Hero */
.hero {
	padding: 208px 0px 80px 0px;

	position: relative;

	background: var(--bg-color);

	&__scroll {
		display: block;

		position: absolute;
		left: 50%;
		bottom: 4%;
		cursor: pointer;

		transform: translateX(-50%);

		& svg path,
		& svg rect {
			fill: var(--text-color);
		}
	}

	&__container {
		display: flex;
	}

	&__action {
		flex: 0 1 28%;

		display: flex;
		justify-content: center;
	}

	&__button {
		margin: 40px 0px 0px 0px;
	}

	&__content {
		flex: 0 1 72%;

		position: relative;

		&::after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			width: 4px;
			height: 100%;

			background: #BF021F;
			border-radius: 20px;
		}
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(80, 28);
		line-height: 120%;
		color: var(--text-color);
	}

	&__subtitle {
		margin: 40px 0px 0px 0px;

		max-width: 680px;

		font-size: 22px;
		line-height: 150%;
		color: var(--text-color);
	}
}

/* ===================== */

/* Portfolio */
.portfolio {
	background: var(--bg-color-2);

	&__container {}

	&__header {
		width: 72%;
	}

	&__title {}

	&__subtitle {}

	&__content {
		margin: 112px 0px 0px 0px;

		display: flex;
		gap: 60px;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__item {}

	&__group {
		display: flex;
		gap: 60px;
	}

	&__button {
		margin: 20px auto 0px auto;
	}

	&__button-touch {
		display: none;
	}
}

.item-portfolio {

	&__image img {
		width: 100%;
	}

	&__half {
		margin: 0px 0px 0px auto;
		max-width: 750px;
	}

	&__title {
		margin: 20px 0px 0px 0px;

		max-width: 450px;
		@include adaptiv-font(24, 20);
		line-height: 140%;
		color: var(--text-color);
	}
}

/* ===================== */

/* Services */
.services {
	background: var(--bg-color-2);

	&__container {

		display: flex;
	}

	&__action {
		flex: 0 1 28%;

		display: flex;
		justify-content: center;
	}

	&__button {}

	&__content {
		flex: 0 1 72%;
	}

	&__header {}

	&__title {}

	&__subtitle {}

	&__items {
		margin: 112px 0px 120px 0px;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
	}

	&__item {}
}

.item-services {
	display: block;

	padding: 40px 30px 40px 30px;

	background: var(--bg-item-services);
	border-radius: 8px;
	filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));

	&:last-child {
		grid-column: 1/3;
	}

	&__body {
		margin: 0px 0px 80px 0px;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: var(--text-color);
	}

	&__text {
		margin: 20px 0px 0px 0px;

		max-width: 960px;
		font-size: 20px;
		line-height: 140%;
		color: var(--text-color);
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__price {
		font-weight: 600;
		@include adaptiv-font(32, 24);
		line-height: 118%;
		color: #BF021F;
	}

	&__more {
		display: flex;
		align-items: center;
		gap: 10px;

		font-weight: 500;
		font-size: 20px;
		line-height: 140%;
		color: var(--text-color);
	}
}

/* ===================== */

/* About */
.about {
	background: var(--bg-color);

	&__container {
		display: flex;
	}

	&__action {
		flex: 0 1 28%;

		display: flex;
		justify-content: center;
	}

	&__button {}

	&__content {
		flex: 0 1 72%;
	}

	&__header {}

	&__title {}

	&__subtitle {}

	&__items {
		margin: 112px 0px 0px 0px;

		display: flex;
		justify-content: space-between;
		gap: 4%;
	}

	&__item {}
}

.item-about {

	&:nth-child(2) {
		margin: 106px 0px 0px 0px;
	}

	&:nth-child(3) {
		margin: 24px 0px 0px 0px;
	}

	&__image img {
		max-width: 100%;
	}

	&__info {
		margin: 20px 0px 0px 0px;
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(24, 22);
		line-height: 120%;
		color: var(--text-color);
	}

	&__name {
		margin: 5px 0px 0px 0px;
		@include adaptiv-font(22, 20);
		line-height: 140%;
		color: var(--text-color);
	}
}

/* ===================== */

/* Feedbacks */
.feedbacks {
	background: var(--bg-color);

	&__container {}

	&__header {
		width: 72%;
	}

	&__title {}

	&__subtitle {}

	&__content {
		margin: 80px 0px 0px 0px;
	}

	&__slider {
		position: relative;
	}

	&__slider-pc {}

	&__slider-tablet {
		display: none;
	}

	&__slider-mobile {
		display: none;
	}

	&__wrapper {}

	&__slide {}

	&__items {
		display: grid;
		grid-template-areas:
			'item1 item3'
			'item2 item3';
		row-gap: 100px;
		column-gap: 60px;
		align-items: center;
	}

	&__item {}

	&__buttons {}
}

.item-feedbacks {
	padding: 50px 80px 60px 40px;

	background: var(--bg-item-feedbacks);
	border-radius: 8px;
	filter: var(--shadow-item-feedbacks);

	&:nth-child(1) {
		grid-area: item1;
	}

	&:nth-child(2) {
		grid-area: item2;
	}

	&:nth-child(3) {
		grid-area: item3;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__author {
		font-size: 20px;
		line-height: 140%;
		color: #9A9A9A;
	}

	&__body {
		margin: 20px 0px 0px 0px;
	}

	&__text {
		font-size: 20px;
		line-height: 140%;
		color: var(--text-color);
	}
}

.buttons-feedbacks {
	position: absolute;
	top: 110px;
	right: 0;
	z-index: 1;

	display: flex;
	align-items: center;
	gap: 20px;

	&__prev {
		cursor: pointer;
	}

	&__next {
		cursor: pointer;
	}
}

.swiper-button-disabled svg rect,
.swiper-button-disabled svg path {
	opacity: .5;
}

/* ===================== */

/* Contact */
.contact {
	background: var(--bg-color);

	&__container {
		display: flex;
		align-items: center;
		gap: 5%;
	}

	&__media {
		flex: 0 1 35%;
	}

	&__content {
		flex: 0 1 65%;
	}

	&__header {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			width: 4px;
			height: 100%;
			background: #BF021F;
			border-radius: 20px;
		}
	}

	&__title {
		font-weight: 600;
		@include adaptiv-font(32, 20);
		line-height: 118%;
		color: var(--text-color);
	}

	&__subtitle {
		margin: 40px 30px 0px 0px;

		max-width: 460px;
		@include adaptiv-font(22, 18);
		line-height: 150%;
		color: var(--text-color);
	}

	&__form {
		margin: 112px 0px 0px 0px;
	}
}

.form-contact {
	display: flex;
	align-items: center;

	&__wrapper {
		flex: 0 1 55%;

		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__line {
		position: relative;
	}

	&__input {
		padding: 15px 0px;

		width: 100%;
		font-family: 'Rubik';
		font-size: 20px;
		line-height: 140%;
		color: var(--form-text-color);

		border-bottom: 2px solid var(--form-text-color);
		border-radius: 0;
		background: transparent;
		outline: none;
	}

	&__label {
		font-family: 'Rubik';
		font-size: 20px;
		line-height: 140%;
		color: var(--form-text-color);

		position: absolute;
		top: 0;
		left: 0;

		& span {
			color: #BF021F;
		}
	}

	&__privacy {
		margin: 20px 0px 0px 0px;

		display: flex;
		align-items: center;
		gap: 15px;

		& label {
			font-weight: 500;
			font-size: 20px;
			line-height: 140%;

			color: var(--text-color);
			cursor: pointer;

			& a {
				text-decoration: underline;
				color: #CA001E;
			}

			&::before {
				margin: 0px 10px 0px 0px;

				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				height: 24px;
				cursor: pointer;

				border: 2px solid var(--text-color);
			}
		}

		& input {

			&[type='checkbox'] {
				display: none;
			}
		}

		& input[type='checkbox']:checked+label::before {
			content: '';
			width: 24px;
			height: 24px;

			background: url('../img/index/contact/check.svg') center/cover no-repeat;
		}
	}

	&__action {
		flex: 0 1 45%;

		display: flex;
		justify-content: center;
	}

	&__button {
		cursor: pointer;
	}
}

/* ===================== */

/* Keyframes */
@keyframes show_header {
	0% {
		opacity: 0;
		top: -70px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}
/* ===================== */